Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

fix: NASA-70-4 fix all conflicts2
  src/components/navigation/Navigation.tsx
  src/types/interfaces.ts
Due: prettier --write

fix: NASA-70-4 delete gitkeep file
  src/constants/.gitkeep
Due: none

feat: NASA-39 add input component
  src/components/header/Header.tsx
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/_input.modul.scss
  src/components/ui/input/input.tsx
  src/pages/mainPage/MainPage.tsx
  src/pages/mainPage/_main.module.scss
Due: stylelint --fix

feat: NASA-39 add static login form component
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/_input.modul.scss
  src/components/ui/input/_input.module.scss
  src/components/ui/input/input.tsx
Due: stylelint --fix

feat: NASA-39 add login form state
  package-lock.json
  src/components/header/Header.tsx
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/input.tsx
  src/core/state/loginState.ts
  src/pages/loginPage/LoginPage.tsx
  src/pages/mainPage/MainPage.tsx
Due: prettier --write

feat: NASA-57 add routing to header
  src/components/header/Header.tsx
  src/components/header/types.ts
  src/components/navigation/Navigation.tsx
  src/components/navigation/types.ts
  src/constants/constants.ts
  src/types/interfaces.ts
Due: prettier --write

fix: NASA-57 add keys to navlinks
  src/components/navigation/Navigation.tsx
Due: none

chore: NASA-39 remove eslint rule
  .eslintrc.cjs
Due: none

refactor: NASA-39 remove imports
  src/components/ui/input/input.tsx
  src/pages/mainPage/MainPage.tsx
Due: none

refactor: NASA-39 refactor login form component
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/input.tsx
Due: none

feat: NASA-39 add form title component
  src/assets/images/icons/icon-login.svg
  src/components/formTitle/FormTitle.tsx
  src/components/formTitle/_formTitle.module.scss
  src/components/loginForm/loginForm.tsx
Due: stylelint --fix

feat: NASA-39 add font
  public/styles/fonts/display-medium.ttf
  src/assets/styles/fonts.scss
  src/assets/styles/index.scss
  src/components/formTitle/_formTitle.module.scss
Due: stylelint --fix

feat: NASA-39 add styles
  index.html
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/_input.module.scss
  src/components/ui/input/input.tsx
  src/pages/loginPage/LoginPage.tsx
  src/pages/loginPage/_login.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-39 refactor login form component
  .eslintrc.cjs
  src/components/loginForm/loginForm.tsx
  src/components/loginForm/types.ts
  src/components/ui/input/input.tsx
Due: prettier --write

feat: NASA-39 add react hook form validation to login form
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/components/loginForm/types.ts
  src/components/ui/input/input.tsx
Due: prettier --write, stylelint --fix

fix: NASA-39 fix login form validation
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/input.tsx
Due: none

feat: NASA-39 add error message component
  src/assets/images/icons/icon-warn.svg
  src/assets/styles/variables.scss
  src/components/errorMessage/ErrorMessage.tsx
  src/components/errorMessage/_errorMessage.module.scss
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
Due: stylelint --fix

fix: NASA-39 fix lint issues
  .eslintrc.cjs
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/input.tsx
Due: none

feat: NASA-39 reset form after submit
  src/components/loginForm/loginForm.tsx
Due: none

fix: NASA-39 fix lint issue
  .eslintrc.cjs
  src/components/loginForm/loginForm.tsx
Due: none

refactor: NASA-39 pull out the function to utils file
  src/components/loginForm/loginForm.tsx
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --write

refactor: NASA-39 refactor form interface
  src/components/loginForm/loginForm.tsx
  src/components/loginForm/types.ts
Due: prettier --write

chore: NASA-39 install hookform resolvers and zod libs
  package-lock.json
  package.json
Due: prettier --write

refactor: NASA-39 add login form validation with zod
  src/components/loginForm/loginForm.tsx
  src/constants/constants.ts
Due: prettier --write

fix: NASA-39 fix validation rules
  src/constants/constants.ts
Due: prettier --write

fix: NASA-39 fix error message
  src/components/loginForm/loginForm.tsx
  src/constants/constants.ts
Due: prettier --write

feat: NASA-43 add link to signup page
  src/components/loginForm/loginForm.tsx
Due: none

feat: NASa-52 add new variables for checkbox
  src/assets/styles/variables.scss
Due: stylelint --fix

feat: NASA-52 add form sub-title component for registration
  src/components/formSubTitle/_formSubTitle.module.scss
  src/components/formSubTitle/formSubTitle.tsx
Due: stylelint --fix

feat: NASA-52 add styles to subtitle registration block
  src/components/formSubTitle/_formSubTitle.module.scss
Due: stylelint --fix

feat: NASA-45 add checkbox component for registration with styles
  src/assets/styles/mixins.scss
  src/components/ui/checkbox/_checkbox.module.scss
  src/components/ui/checkbox/checkbox.tsx
Due: stylelint --fix

refactor: add additional types of input to input component
  src/components/ui/input/_input.module.scss
Due: stylelint --fix

feat: NASA-52 add styles to registration form
  src/domain/customer/.gitkeep
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: NASA-52 revise styles in registration wrapper
  src/constants/.gitkeep
  src/pages/registrationPage.tsx/_registration.module.scss
Due: stylelint --fix

feat: NASA-52 add redirect to registration form in header
  src/domain/customer/registrationForm/registrationForm.tsx
  src/pages/registrationPage.tsx/RegistrationPage.tsx
  src/pages/registrationPage.tsx/_registration.module.scss
Due: stylelint --fix

feat: NASA-52 add email and password inputs
  src/domain/customer/registrationForm/registrationForm.tsx
  src/pages/registrationPage.tsx/RegistrationPage.tsx
Due: none

feat: NASA-53 add validation to first and last name
  src/constants/constants.ts
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write, stylelint --fix
