Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: NASA-00 set cart in the app component
  src/app/App.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

fix: NASA-00 fix styles on the about page
  src/pages/aboutPage/_about.module.scss
Due: stylelint --fix

fix: NASA-00 fix navigation styles
  src/domain/catalog/sliderForCatalogPage/_sliderForCatalogPage.scss
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

fix: NASA-00 fix active nav item styles
  src/assets/styles/index.scss
  src/domain/header/navigation/Navigation.tsx
Due: stylelint --fix

fix: NASA-00 fix z-index titles on the about page
  src/pages/aboutPage/_about.module.scss
Due: stylelint --fix

feat: NASA-00 limit items in order counter in navigation
  src/domain/header/navigation/Navigation.tsx
Due: none

fix: NASA-00 fix active slide in category slider
  src/domain/catalog/sliderForCatalogPage/_sliderForCatalogPage.scss
Due: stylelint --fix

feat: add multi-promocodes options
  src/api/me/cart/cartDiscount.ts
  src/api/me/cart/discountCodes.ts
  src/api/me/cart/removeDiscount.ts
  src/app/App.tsx
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/homeCard/HomeCard.tsx
  src/constants/constants.ts
  src/core/state/boundState.ts
  src/core/state/cartState.ts
  src/core/state/homeState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/cartSummary/cartSummary.tsx
  src/domain/cart/cartView/cartView.tsx
  src/domain/cart/promocode/_promocode.module.scss
  src/domain/cart/promocode/promocode.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/cartPage/CartPage.tsx
  src/pages/productPage/ProductPage.tsx
  src/utils/logOut.ts
Due: prettier --write, stylelint --fix

refactor: remove unused binding state with home and move to cart
  src/api/me/cart/removeDiscount.ts
  src/app/App.tsx
  src/core/state/boundState.ts
  src/core/state/cartState.ts
  src/core/state/homeState.ts
  src/domain/cart/promocode/promocode.tsx
  src/pages/cartPage/CartPage.tsx
Due: prettier --write

refactor: styles in files according to slint
  src/app/App.tsx
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: recalculate card with promocode
  src/api/me/cart/addDiscountCode.ts
  src/api/me/cart/addProductToCart.ts
  src/api/me/cart/removeProductFromCart.ts
  src/api/middlewareFlows/authMiddlewareBase.ts
  src/api/middlewareFlows/withAnonymousFlow.ts
  src/api/middlewareFlows/withClientCredentials.ts
  src/api/middlewareFlows/withPasswordFlow.ts
  src/api/middlewareFlows/withRefreshToken.ts
  src/app/App.tsx
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/modalProfile/confirmDelete.tsx
  src/core/state/cartState.ts
  src/core/state/homeState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/cartSummary/cartSummary.tsx
  src/domain/cart/promocode/promocode.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/cartPage/CartPage.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write

fix: NASA-04-04 fix style for modal
  src/components/loader/_loader.module.scss
  src/components/modalProfile/_modalProfile.module.scss
  src/domain/about/card/CardFromAboutPage.tsx
  src/domain/about/modalAbout/ModalAbout.tsx
  src/domain/about/modalAbout/_modalAbout.module.scss
  src/domain/header/Header.tsx
  src/domain/header/navigation/Navigation.tsx
  src/domain/header/navigation/_navigation.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/tests/pages/Header.test.tsx
Due: stylelint --fix

refactor: change paddings of promocode
  src/domain/cart/promocode/_promocode.module.scss
Due: stylelint --fix

refactor: change the text font on promo code
  src/domain/cart/promocode/_promocode.module.scss
Due: stylelint --fix

refactor: rename delete button for promo code
  src/domain/cart/promocode/promocode.tsx
Due: none

fix: remove extra bracket on scss
  src/domain/cart/promocode/_promocode.module.scss
Due: stylelint --fix

fix: NASA-04-04 fix style
  src/components/modalProfile/_modalProfile.module.scss
  src/domain/about/modalAbout/ModalAbout.tsx
  src/domain/about/modalAbout/_modalAbout.module.scss
Due: stylelint --fix

fix: NASA-04-04 fix style for loader
  src/components/loader/_loader.module.scss
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

fix: NASA-00 fix category styles
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

docs: NASA-00 update readme file
  README.md
  src/domain/cart/promocode/promocode.tsx
Due: prettier --write

fix: NASA-00 fix buttons styles in promocode component
  src/assets/styles/mixins.scss
  src/domain/cart/promocode/promocode.tsx
Due: stylelint --fix

refactor: NASA-04-04 refactor style for header
  README.md
  src/components/loader/_loader.module.scss
  src/domain/header/_header.module.scss
  src/domain/header/navigation/_navigation.module.scss
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-04-04 delete space for app
  src/app/App.tsx
Due: none

refactor: NASA-04-04 refactor readme
  README.md
Due: prettier --write

feat: NASA-04-04 added 2 banner for main
  public/assets/images/home/banner/promo-3000.png
  src/assets/images/card/promo-orion.png
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartSummary/_cartSummary.module.scss
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/emptyCartView/_emptyCartState.module.scss
  src/domain/cart/promocode/_promocode.module.scss
  src/domain/customer/avatar/_profileAvatar.module.scss
  src/domain/customer/infoField/_infoField.module.scss
  src/domain/customer/profileView/_profileView.module.scss
  src/tests/components/home/promotion.test.tsx
Due: stylelint --fix

feat: update promocode section styles on main page
  src/components/home/discountProduct/_discountProduct.module.scss
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
Due: stylelint --fix

fix: NASA-05-00 copying different coupons
  src/components/home/promotion/Promotion.tsx
  src/constants/constants.ts
  src/core/state/homeState.ts
  src/tests/components/home/promotion.test.tsx
Due: prettier --write

refactor: revise test styles according to styleslint
  src/tests/components/home/promotion.test.tsx
Due: none

fix: cart promote code calculation
  src/domain/cart/cartSummary/cartSummary.tsx
Due: none

fix: add statuses on promocodes
  src/constants/constants.ts
  src/core/state/cartState.ts
  src/domain/cart/cartSummary/cartSummary.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
