Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: NASA-115-4-1-1 implement-routing-for-navigation-between-catalog-page
  src/api/AdminBuilder.ts
  src/api/ClientBuilder.ts
  src/constants/constants.ts
  src/core/routes/routes-config.tsx
  src/pages/catalogPage/CatalogPage.tsx
Due: prettier --write

chore: NASA-88 install swiper js library
  package-lock.json
  package.json
Due: prettier --write

fix: NASA-88 fix eslint issue of swiper imports
  .eslintrc.cjs
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-88 add basic swiper slider component
  src/components/slider/slider.tsx
  src/pages/aboutPage/AboutPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-91 save token to the DB
  src/api/CreatePasswordFlow.ts
  src/api/NasaTokenCache.ts
  src/vite-env.d.ts
Due: prettier --write

feat: NASA-91 logout user and remove token
  src/api/CreatePasswordFlow.ts
  src/api/NasaTokenCache.ts
  src/domain/header/Header.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/utils/types.ts
Due: prettier --write

feat: NASA-91 add input fields for password and email
  src/api/Api.ts
  src/api/WithExistingToken.ts
  src/assets/images/icons/icon-edit.svg
  src/assets/styles/mixins.scss
  src/components/profileField/_profileField.module.scss
  src/components/profileField/profileField.tsx
  src/domain/customer/avatar/_profileAvatar.module.scss
  src/domain/customer/avatar/profileAvatar.tsx
  src/domain/customer/personalnfo/_personalInfo.module.scss
  src/domain/customer/personalnfo/personalInfo.tsx
  src/domain/header/navigation/_navigation.module.scss
  src/pages/profilePage/ProfilePage.tsx
  src/pages/profilePage/_profile.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-91 style according the lint
  src/components/profileField/profileField.tsx
  src/domain/customer/avatar/profileAvatar.tsx
  src/domain/customer/personalnfo/personalInfo.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

feat: NASA-91 add personal data table
  src/domain/customer/infoField/_infoField.module.scss
  src/domain/customer/infoField/infoField.tsx
  src/domain/customer/personalnfo/_personalInfo.module.scss
  src/domain/customer/personalnfo/personalInfo.tsx
Due: stylelint --fix

feat: NASA-91 add address fields
  src/assets/images/icons/icon-delete.svg
  src/components/profileField/_profileField.module.scss
  src/components/profileField/profileField.tsx
  src/domain/customer/avatar/_profileAvatar.module.scss
  src/domain/customer/infoField/infoField.tsx
  src/domain/customer/personalnfo/_personalInfo.module.scss
  src/domain/customer/personalnfo/personalInfo.tsx
Due: stylelint --fix

fix: NASA-91 omit boolean values
  src/components/profileField/profileField.tsx
  src/domain/customer/personalnfo/personalInfo.tsx
Due: none

feat: NASA-88 add api method to get product by id
  src/api/Api.ts
  src/components/slider/slider.tsx
Due: prettier --write

feat: NASA-88 fetch product data by mock id
  src/api/Api.ts
  src/pages/aboutPage/AboutPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

feat: NASA-88 fetch product images and render slider
  src/components/slider/_slider.module.scss
  src/components/slider/slider.tsx
  src/pages/aboutPage/AboutPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

feat: NASA-86-1-4 feat swiper for catalog page
  .eslintrc.cjs
  package-lock.json
  package.json
  src/api/InteractionForProductList.ts
  src/assets/images/headerCatalog/astronomical-equipment.png
  src/assets/images/headerCatalog/meteorite.png
  src/assets/images/headerCatalog/space-memorabilia.png
  src/assets/images/headerCatalog/space-photos-and-wall-art.png
  src/assets/images/headerCatalog/space-suits.png
  src/assets/images/project-logo/vite.svg
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/catalogPage/_catalog.module.scss
Due: prettier --write, stylelint --fix

fix: NASA-88 fix product page
  src/components/slider/slider.tsx
  src/pages/aboutPage/AboutPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

refactor: NASA-88 refactor api method
  src/api/Api.ts
Due: prettier --write

feat: NASA-88 add slider thumbs
  src/components/slider/_slider.module.scss
  src/components/slider/slider.tsx
Due: stylelint --fix

feat: NASA-91 parse the json response
  src/api/Api.ts
  src/core/state/types.ts
  src/pages/profilePage/ProfilePage.tsx
  src/utils/checkbox-autocomplete.tsx
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --write

refactor: NASA-91 according to lint rules
  src/pages/profilePage/ProfilePage.tsx
Due: none

feat: NASA-91 add lazy loading for component with info
  src/core/state/loginState.ts
  src/core/state/types.ts
  src/domain/customer/personalnfo/personalInfo.tsx
  src/domain/header/Header.tsx
  src/pages/profilePage/ProfilePage.tsx
  src/pages/profilePage/_profile.module.scss
  src/utils/utils.ts
Due: prettier --write, stylelint --fix

fix: NASA-91 add return type to the function
  src/core/state/loginState.ts
  src/domain/customer/personalnfo/personalInfo.tsx
Due: prettier --write

refactor: NASA-91 revise colors of forms and filename
  src/components/loginForm/loginForm.tsx
  src/components/modalMessage/ModalMessage.tsx
  src/components/ui/input/_input.module.scss
  src/core/routes/protected-route.tsx
  src/core/state/userState.ts
  src/domain/customer/personalnfo/personalInfo.tsx
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/header/Header.tsx
  src/pages/homePage/HomePage.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-86-1-4 feat navigation beetween catalog page
  src/api/InteractionForProductList.ts
  src/assets/images/headerCatalog/astro-kits.png
  src/assets/images/headerCatalog/ellipse.png
  src/assets/images/headerCatalog/space-food.png
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
  src/constants/constants.ts
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/catalogPage/_catalog.module.scss
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-91 move label to correct field
  src/assets/styles/mixins.scss
  src/components/profileField/_profileField.module.scss
  src/components/profileField/profileField.tsx
  src/components/ui/checkbox/_checkbox.module.scss
  src/components/ui/checkbox/checkbox.tsx
  src/domain/customer/infoField/_infoField.module.scss
  src/domain/customer/profileView/_profileView.module.scss
  src/domain/customer/profileView/profileView.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: stylelint --fix

refactor: NASA-91 move imports in profilePage
  src/domain/customer/profileView/profileView.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

fix: NASA-86-1-4 fix naming
  src/api/InteractionForProductList.ts
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-88 add enlarged modal window
  src/components/slider/_slider.module.scss
  src/components/slider/slider.tsx
Due: stylelint --fix

feat: NASA-88 add styles for modal slider
  src/components/slider/_slider.module.scss
  src/components/slider/slider.tsx
Due: stylelint --fix

feat: NASA-88 implement sliders controller
  src/components/slider/_slider.module.scss
  src/components/slider/slider.tsx
Due: stylelint --fix

feat: NASA-88 remove slider scrollbar
  src/components/slider/slider.tsx
Due: none

refactor: NASA-88 improve naming
  src/components/slider/slider.tsx
Due: none

refactor: NASA-88 refactor swiper props
  src/components/slider/slider.tsx
Due: none

refactor: NASA-88 refactor fonts styles
  src/assets/styles/fonts.scss
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/components/homeNavItem/_homeNavItem.module.scss
  src/components/slider/_slider.module.scss
  src/domain/header/navigation/_navigation.module.scss
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-88 add content and styles for product info section
  src/components/formSubTitle/_formSubTitle.module.scss
  src/components/slider/slider.tsx
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-91 add module pattern to the profile page
  src/assets/images/icons/icon-close-model.svg
  src/components/modalProfile/ModalProfile.tsx
  src/components/modalProfile/_modalProfile.module.scss
  src/components/profileField/_profileField.module.scss
  src/components/profileField/profileField.tsx
  src/components/ui/input/_input.module.scss
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/profileView/profileView.tsx
  src/utils/types.ts
Due: prettier --write, stylelint --fix

refactor: NASA-91 style props according to the linter
  src/components/modalProfile/ModalProfile.tsx
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/profileView/profileView.tsx
Due: none

feat: NASA-112 update customer email
  src/api/Api.ts
  src/components/modalProfile/ModalProfile.tsx
  src/constants/constants.ts
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/profileView/profileView.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-112 add validation to email if already exist
  src/components/modalProfile/ModalProfile.tsx
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/profileView/profileView.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

fix: NASA-112 add custom error on server response
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/utils/types.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
