Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: NASA-57 add footer component
  src/app/App.tsx
  src/assets/images/rs-logo.svg
  src/components/footer/Footer.tsx
Due: none

feat: NASA-57 add header component
  src/app/App.tsx
  src/assets/images/ns-store-logo.svg
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/header/_header.scss
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-02 add folder from pages and add redirects file
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/pages/aboutUsPage/AboutUsPage.tsx
  src/pages/loginPage/LoginPage.tsx
  src/pages/mainPage/MainPage.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

fix: revise pull request template to previous settings
  .github/pull_request_template.md
Due: prettier --write

Revert "feat: NASA-57 add font"
  public/assets/rs-logo.svg
  public/styles/fonts/display-regular.ttf
  src/assets/styles/fonts.scss
  src/assets/styles/index.scss
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
Due: stylelint --fix

Revert "feat: NASA-02 add folder from pages and add redirects file"
  public/_redirects
  src/assets/fonts/cyberpunk.ttf
  src/assets/fonts/cyberpunk.woff
  src/assets/fonts/cyberpunk.woff2
  src/assets/styles/fonts.scss
  src/components/.gitkeep
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
  src/components/header/Header.tsx
  src/components/header/_header.scss
  src/pages/.gitkeep
  src/pages/aboutUsPage/AboutUsPage.tsx
  src/pages/aboutUsPage/_about_us.module.scss
  src/pages/loginPage/LoginPage.tsx
  src/pages/loginPage/_login.module.scss
  src/pages/mainPage/MainPage.tsx
  src/pages/mainPage/_main.module.scss
  src/pages/profilePage/ProfilePage.tsx
  src/pages/profilePage/_profile.module.scss
  src/pages/registrationPage.tsx/RegistrationPage.tsx
  src/pages/registrationPage.tsx/_registration.module.scss
Due: stylelint --fix

Revert "feat: NASA-57 add placeholder icon to header"
  src/assets/styles/variables.scss
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

Revert "feat: NASA-57 add navigation styles"
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
  src/components/header/_header.module.scss
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

Revert "feat: NASA-02 add folder from pages and add redirects file"
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/pages/aboutUsPage/AboutUsPage.tsx
  src/pages/loginPage/LoginPage.tsx
  src/pages/mainPage/MainPage.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

Revert "feat: NASA-57 add header component"
  src/app/App.tsx
  src/assets/images/ns-store-logo.svg
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/components/footer/_footer.module.scss
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/header/_header.scss
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

Revert "feat: NASA-57 add footer component"
  public/assets/rs-logo.svg
  src/app/App.tsx
  src/components/footer/Footer.tsx
Due: none

Revert "feat: NASA-57 add navigation markup"
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

fix: NASA-57 fix styles
  src/assets/styles/index.scss
Due: stylelint --fix

feat: NASA-57 indent body
  src/assets/styles/index.scss
Due: stylelint --fix

feat: NASA-57 add navigation styles
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
  src/components/header/_header.module.scss
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-57 add navigation markup
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-57 add placeholder icon to header
  src/assets/styles/variables.scss
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-57 add font
  public/assets/rs-logo.svg
  public/styles/fonts/display-regular.ttf
  src/assets/styles/fonts.scss
  src/assets/styles/index.scss
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
Due: stylelint --fix

refactor: NASA-57 refactor header and navigation component
  src/app/App.tsx
  src/components/header/Header.tsx
  src/components/header/types.tsx
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
  src/components/navigation/types.tsx
Due: stylelint --fix

refactor: NASA-57 change types folder structure
  src/app/App.tsx
  src/components/header/Header.tsx
  src/components/navigation/Navigation.tsx
  src/components/navigation/types.tsx
  src/types/enums.tsx
  src/types/interfaces.tsx
Due: none

refactor: NASA-57 made navlinks props a constant
  src/app/App.tsx
  src/constants/constants.tsx
Due: none

refactor: NASA-57 delete empty file
  src/types/enums.tsx
Due: none

feat: NASA-57-3-1 refactor header and navigation components (#12)
  src/app/App.tsx
  src/components/header/Header.tsx
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
  src/constants/constants.tsx
  src/types/interfaces.tsx
Due: stylelint --fix

refactor: NASA-57 update types structure
  src/components/header/Header.tsx
  src/components/header/types.tsx
  src/components/navigation/Navigation.tsx
  src/components/navigation/types.tsx
  src/constants/constants.tsx
  src/types/enums.tsx
Due: none

refactor: NASA-57 rename a constant
  src/app/App.tsx
  src/constants/constants.tsx
Due: none

feat: NASA-70-4 add router
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/App.tsx
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/header/_header.scss
  src/core/routes/routes-config.tsx
  src/core/routes/types.ts
  src/core/state/state.ts
  src/pages/cartPage/CartPage.tsx
  src/pages/cartPage/_cart.module.scss
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/catalogPage/_catalog.module.scss
  src/pages/category/Category.tsx
  src/pages/category/_category.module.scss
  src/pages/layout/Layout.tsx
  src/pages/notFoundPage/NotFoundPage.tsx
  src/pages/notFoundPage/_not-found-page.module.scss
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
  src/pages/profilePage/ProfilePage.tsx
  tsconfig.json
Due: prettier --write, stylelint --fix

feat: NASA-70-4 add protected routes and add user state
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/App.tsx
  src/assets/styles/index.scss
  src/constants/constants.ts
  src/core/routes/protected-route.tsx
  src/core/routes/routes-config.tsx
  src/core/routes/types.ts
  src/core/state/state.ts
  src/main.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/layout/Layout.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write, stylelint --fix

fix: NASA-70-4 fix error for app test file
  src/tests/App.test.tsx
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
