Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: NASA-132 recalculate total price when increment or decrement product quantity
  src/core/state/cartState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --write

feat: NASA-132 add manual input for item quantity control
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: none

feat: NASA-125 feat loader
  src/assets/images/bg/bg-loader1.webp
  src/assets/video/videoplayback (video-converter.com).webm
  src/components/loader/Loader.tsx
  src/components/loader/_loader.module.scss
  src/components/pagination/pagination.scss
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/filtersBlock/_filtersBlock.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/layout/Layout.tsx
Due: stylelint --fix

feat: NASA-125 feat background for list empty
  src/assets/images/bg/bg-empty-catalog.webp
  src/pages/aboutPage/AboutPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

fix: NASA-125 fix bug for catalog card
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

fix: NASA-132 fix items quantity counts
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartSummary/cartSummary.tsx
Due: none

fix: NASA-125 fix style from loader
  src/components/loader/_loader.module.scss
  src/core/routes/lazyConstant.tsx
  src/core/routes/routesConfig.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: set to slider the fix margin
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
  src/components/home/homeCard/HomeCard.tsx
  src/components/home/homeCard/_homeCard.module.scss
  src/core/state/homeState.ts
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/_home.module.scss
Due: prettier --write, stylelint --fix

fix: NASA-125 fix bug for header and attribute
  src/core/state/catalogState.ts
  src/core/state/types.ts
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/card/utils.ts
  src/domain/catalog/sliderForCatalogPage/SliderForCatalogPage.tsx
  src/domain/header/Header.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write

fix: NASA-125 fix bug for filter
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/filtersBlock/FiltersBlockForCategoryPage.tsx
  src/domain/catalog/sliderForCatalogPage/SliderForCatalogPage.tsx
  src/domain/catalog/types.ts
  src/domain/header/Header.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

fix: NASA-125 fix style from product empty
  src/domain/catalog/filtersBlock/FiltersBlockForCategoryPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: none

refactor: card size of the promotion
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
  src/constants/constants.ts
Due: prettier --write, stylelint --fix

fix: NASA-125 fix bug for filter
  src/domain/catalog/filtersBlock/FiltersBlockForCategoryPage.tsx
  src/domain/catalog/types.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

fix: NASA-125 fix bug for filter
  src/domain/catalog/filtersBlock/FiltersBlockForCategoryPage.tsx
Due: none

fix: NASA-125 fix bug for sort
  src/core/state/catalogState.ts
  src/core/state/types.ts
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/sliderForCatalogPage/SliderForCatalogPage.tsx
  src/domain/header/Header.tsx
Due: prettier --write

fix: NASA-125 fix bug for sort and header
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/sliderForCatalogPage/SliderForCatalogPage.tsx
  src/domain/header/Header.tsx
Due: none

refactor: state of home in order to save the state of products
  src/api/products/gettHomeProductList.ts
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/homeCard/HomeCard.tsx
  src/core/state/homeState.ts
  src/utils/types.ts
Due: prettier --write

feat: add best product
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
  src/core/state/homeState.ts
  src/pages/homePage/HomePage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-132 add useDebounce hook
  src/utils/useDebounce.ts
Due: prettier --write

feat: NASA-132 apply debounce to cart modifications
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: none

feat: NASA-132 update total discount in summary component
  src/core/state/cartState.ts
  src/domain/cart/cartSummary/cartSummary.tsx
Due: prettier --write

feat: NASA-132 change discount label in cart summary component
  src/domain/cart/cartSummary/cartSummary.tsx
Due: none

feat: add slider to best product section
  src/assets/styles/index.scss
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
  src/components/home/homeCard/HomeCard.tsx
  src/components/home/homeCard/_homeCard.module.scss
Due: stylelint --fix

fix: NASA-132 fix cart state updating
  src/core/state/cartState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: prettier --write

fix: NASA-132 fix quantity input styles and discount visibility
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartSummary/cartSummary.tsx
  src/domain/cart/cartView/cartView.tsx
Due: stylelint --fix

fix: NASA-132 set a limit on the number of items in the cart
  src/core/state/cartState.ts
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartSummary/cartSummary.tsx
  src/domain/cart/cartView/cartView.tsx
  src/utils/useDebounce.ts
Due: prettier --write, stylelint --fix

feat: NASA-132 update cart styles, remove breadcrumbs
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/cartView/cartView.tsx
Due: stylelint --fix

feat: add slider to best products
  src/assets/images/icons/arrow-icon.png
  src/assets/images/icons/icon-allien.svg
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/bestProduct/slider-home.scss
  src/components/home/promotion/Promotion.tsx
  src/constants/constants.ts
  src/core/state/homeState.ts
Due: prettier --write, stylelint --fix

refactor: NASA-123 refactor loader
  src/assets/styles/index.scss
  src/components/loader/_loader.module.scss
  src/components/loaderForButton/LoaderForButton.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

feat: add breakoutpoints
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/bestProduct/slider-home.scss
Due: stylelint --fix

feat: NASA-123 add remove button for product page
  src/assets/styles/index.scss
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/cartView/cartView.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/cartPage/CartPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --write, stylelint --fix

feat: NASA-123 add modal window for product page
  .eslintrc.cjs
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

fix: NASA-132 fix quantity controls styles
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
Due: stylelint --fix

fix: NASA-123 fix bug from product page
  .eslintrc.cjs
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/domain/catalog/card/Card.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-136 add api request to apply a promocode to the cart
  src/api/me/cart/addDiscountCode.ts
Due: prettier --write

feat: NASA-136 add method to apply promocode to the cart state
  src/core/state/cartState.ts
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

feat: NASA-136 add promocode form to cart view component
  src/assets/styles/index.scss
  src/core/state/cartState.ts
  src/domain/cart/cartView/cartView.tsx
  src/domain/cart/promocode/_promocode.module.scss
  src/domain/cart/promocode/promocode.tsx
Due: prettier --write, stylelint --fix

feat: NASA-136 show promocode discount, order price before and after promocode in cart summary
  src/domain/cart/cartSummary/cartSummary.tsx
Due: none

refactor: fix margin on mobile for catalog
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
Due: stylelint --fix

feat: make slider responsive to mobile
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/bestProduct/slider-home.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/homeCard/HomeCard.tsx
Due: stylelint --fix

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
