Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: NASA-86 add adaptive for breadcrumps
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

refactor: NASA-86 remove console.log
  src/components/slider/SliderForCatalogPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-86 remove subcategory from breadcrumbs
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-03 add tests for the sprint 3
  src/tests/api/customer/getCustomerByEmail.test.tsx
  src/tests/api/me/getUser.test.tsx
  src/tests/api/me/loginUser.test.tsx
  src/tests/api/products/getAllProducts.test.tsx
  src/tests/pages/HomePage.test.tsx
  src/tests/pages/NotFound.test.tsx
  src/tests/pages/ProfilePage.test.tsx
  src/tests/utils/logOut.test.tsx
  src/tests/utils/utils.test.tsx
  src/utils/getToken.ts
Due: prettier --write

refactor: styles according to lint rules
  src/tests/api/me/getUser.test.tsx
  src/tests/api/me/loginUser.test.tsx
  src/tests/api/products/getAllProducts.test.tsx
  src/tests/pages/HomePage.test.tsx
  src/tests/pages/NotFound.test.tsx
Due: none

fix: NASA-registration revise the padding for form
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

feat: NASA-99 feat Breadcrumps
  .eslintrc.cjs
  src/api/products/getProductById.ts
  src/assets/styles/index.scss
  src/components/cards/card/Card.tsx
  src/components/ui/singleCheckboxGroup/SingleCheckboxGroup.tsx
  src/constants/constants.ts
  src/core/routes/routes-config.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/categoryPage/types.ts
  src/pages/categoryPage/utils.ts
  src/pages/productPage/ProductPage.tsx
Due: prettier --write, stylelint --fix

refactor: NASA-99 refactor Breadcrumps
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/utils.ts
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

refactor: NASA-99 delete console
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

refactor: NASA-99 change name const and delete api file
  src/api/InteractionForProductList.ts
  src/constants/constants.ts
  src/core/routes/routes-config.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

refactor: NASA-99 change routes for main
  src/pages/homePage/HomePage.tsx
Due: none

refactor: remove tests from revised middleware
  src/api/me/loginUser.ts
  src/api/middlewareFlows/authMiddlewareBase.ts
  src/api/middlewareFlows/buildRequestForRefreshTokenFlow.ts
  src/api/middlewareFlows/createAuthMiddlewareForRefreshTokenFlow.ts
  src/api/middlewareFlows/withRefreshToken.ts
  src/api/token/MyTokenCache.ts
  src/constants/constants.ts
  src/pages/profilePage/ProfilePage.tsx
  src/tests/api/customer/getCustomerByEmail.test.tsx
  src/tests/api/me/getUser.test.tsx
  src/tests/api/me/loginUser.test.tsx
  src/tests/pages/ProfilePage.test.tsx
  src/utils/types.ts
  src/utils/utils.ts
  src/vite-env.d.ts
Due: prettier --write

fix: show error on expired token
  src/api/middlewareFlows/authMiddlewareBase.ts
  src/utils/types.ts
Due: prettier --write

feat: revise modal for error message on bad token
  src/components/errorWindow/errorWindow.tsx
  src/components/modalMessage/ModalMessage.tsx
  src/components/modalMessage/_modalMessage.module.scss
  src/core/state/types.ts
  src/core/state/userState.ts
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write, stylelint --fix

refactor: add const variables for errors types
  src/constants/constants.ts
  src/domain/customer/forms/addressForm/billingAddress.tsx
  src/domain/customer/forms/addressForm/newAddress.tsx
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/forms/generalForm/generalForm.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write

refactor: styles according to lint
  src/domain/customer/forms/addressForm/billingAddress.tsx
  src/domain/customer/forms/addressForm/newAddress.tsx
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/forms/generalForm/generalForm.tsx
Due: none

fix: calendar borders on smaller screens
  src/components/modalProfile/_modalProfile.module.scss
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: add hover to buttons in profile
  src/domain/customer/profileView/_profileView.module.scss
Due: stylelint --fix

fix: NASA-99 fix bug for progect
  src/components/ui/singleCheckboxGroup/SingleCheckboxGroup.tsx
  src/constants/constants.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/productPage/ProductPage.tsx
Due: prettier --write, stylelint --fix

fix: revise media points for registration form
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: revise message of the error of the token
  src/pages/profilePage/ProfilePage.tsx
Due: none

fix: fetch the request again on invalid token
  src/api/token/MyTokenCache.ts
  src/constants/constants.ts
  src/domain/customer/forms/addressForm/billingAddress.tsx
  src/domain/customer/forms/addressForm/newAddress.tsx
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/forms/generalForm/generalForm.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write

fix: NASA-99 fix bug for slider
  src/components/cards/card/Card.tsx
  src/components/cards/card/utils.ts
  src/components/slider/SliderForCatalogPage.tsx
  src/components/sliderProduct/slider.tsx
  src/components/sliderProduct/types.ts
  src/constants/constants.ts
Due: prettier --write

refactor: NASA-99 add cursor pointer for style
  src/components/ui/checkbox/_checkbox.module.scss
  src/components/ui/singleCheckboxGroup/singleCheckboxGroup.module.scss
Due: stylelint --fix

fix: re-opening the modal window
  src/domain/customer/forms/addressForm/billingAddress.tsx
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/profileView/profileView.tsx
Due: none

fix: add additional check for year
  src/constants/constants.ts
Due: prettier --write

refactor: NASA-00 refactor breadcrumbs styles
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: NASA-00 refactor filters section styles
  src/assets/styles/index.scss
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/profileView/profileView.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

feat: NASA-99 feat buttton delete attribute
  .eslintrc.cjs
  src/assets/images/icons/delete.png
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/categoryPage/utils.ts
Due: prettier --write, stylelint --fix

refactor: NASA-00 refactor search and sort styles
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: NASA-00 refactor product grid styles
  src/components/cards/card/card.module.scss
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

feat: NASA-99 feat filter brand,material,refractor
  .eslintrc.cjs
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

fix: NASA-99 fix price
  src/components/cards/card/Card.tsx
Due: none

fix: NASA-99 fix price product
  src/components/cards/card/Card.tsx
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

fix: move login user into response block
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/domain/customer/profileView/profileView.tsx
Due: none

refactor: remove unused console.logs
  src/domain/customer/forms/addressForm/shippingAddress.tsx
Due: none

refactor: show error messages from commersetools under password
  src/domain/customer/forms/passwordForm/passwordForm.tsx
Due: none

refactor: remove console.logs and hightlight errors
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
Due: none

feat: NASA-00 remove custom arrow from details
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
