Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

fix: NASA-91 remove async from functions
  src/components/loginForm/loginForm.tsx
  src/domain/header/Header.tsx
Due: none

feat: NASA-84-1-2 add get products for store
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

feat: NASA-112 add navigation check to profile
  src/core/routes/protected-route.tsx
  src/core/routes/routes-config.tsx
  src/domain/header/Header.tsx
  src/domain/header/navigation/Navigation.tsx
Due: none

feat: NASA-100 add sort for products list
  src/constants/constants.ts
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/types.ts
Due: prettier --write

feat: NASA-85 add styles for prodcut cards
  src/assets/styles/variables.scss
  src/components/cards/card/Card.tsx
  src/components/cards/card/card.module.scss
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: NASA-100 refactor sort
  src/pages/categoryPage/CategoryPage.tsx
Due: none

fix: NASA-85 fix card height
  src/components/cards/card/card.module.scss
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: NASA-85 refactor css property
  src/components/cards/card/card.module.scss
Due: stylelint --fix

feat: NASA-84-1-1 feat add pagination function for state
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

fix: NASA-85 fix badges and card wrapper styles
  src/components/cards/card/card.module.scss
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

feat: NASA-112 add forms to revise shipping and billing
  src/api/customer/getCustomerByEmail.ts
  src/api/me/updateCustomer.ts
  src/components/formTitle/_formTitle.module.scss
  src/components/loginForm/loginForm.tsx
  src/components/profileField/profileField.tsx
  src/components/ui/checkbox/checkbox.tsx
  src/constants/constants.ts
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/forms/addressForm/billingAddress.tsx
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/forms/generalForm/generalForm.tsx
  src/domain/customer/profileView/profileView.tsx
  src/domain/header/Header.tsx
  src/utils/types.ts
Due: prettier --write, stylelint --fix

feat: NASA-112 add form for new address
  src/api/me/createNewAddress.ts
  src/components/ui/checkbox/checkbox.tsx
  src/constants/constants.ts
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/forms/addressForm/billingAddress.tsx
  src/domain/customer/forms/addressForm/newAddress.tsx
  src/domain/customer/profileView/profileView.tsx
Due: prettier --write, stylelint --fix

feat: NASA-91 add delete option to the address
  src/components/profileField/profileField.tsx
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/profileView/profileView.tsx
Due: prettier --write

refactor: NASA-84-1-1 refactor sort for products list
  src/assets/styles/index.scss
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-91 add modal window on delete
  src/components/modalProfile/confirmDelete.tsx
  src/components/profileField/profileField.tsx
  src/core/state/userState.ts
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/profileView/profileView.tsx
  src/utils/types.ts
Due: prettier --write, stylelint --fix

feat: NASA-91 revise shipping and billing address id
  src/components/modalProfile/confirmDelete.tsx
  src/components/profileField/profileField.tsx
  src/domain/customer/profileView/profileView.tsx
Due: none

fix: conflic with unused import
  src/domain/customer/profileView/profileView.tsx
Due: none

refactor: revise to tokencashe
  src/api/me/changePassword.ts
Due: prettier --write

feat: NASA-86 add category slider adaptive and styles
  src/assets/images/headerCatalog/category-bg-line.svg
  src/assets/images/headerCatalog/equipment-category-img.png
  src/assets/images/headerCatalog/food-category-img.png
  src/assets/images/headerCatalog/meteorite-catregory-img.png
  src/assets/images/headerCatalog/space-suits-category-img.png
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
Due: stylelint --fix

feat: NASA-86 add shadow element for slider
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
  src/pages/catalogPage/_catalog.module.scss
Due: stylelint --fix

feat: NASA-101 feat search for product list
  package-lock.json
  package.json
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-100 refactor sort for product list
  src/constants/constants.ts
Due: prettier --write

feat: NASA-86 replace category images in slider
  src/assets/images/headerCatalog/astro-kits.png
  src/assets/images/headerCatalog/astrokits-category-img.png
  src/assets/images/headerCatalog/astronomical-equipment.png
  src/assets/images/headerCatalog/ellipse.png
  src/assets/images/headerCatalog/meteorite.png
  src/assets/images/headerCatalog/poster-category-img.png
  src/assets/images/headerCatalog/space-food.png
  src/assets/images/headerCatalog/space-memorabilia-category-img.png
  src/assets/images/headerCatalog/space-photos-and-wall-art.png
  src/assets/images/headerCatalog/space-suits.png
  src/components/slider/slider-catalog-page.scss
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-86 change bullet pagination color in slider
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
Due: stylelint --fix

fix: NASA-91 fix header navigation adaptive
  src/domain/header/_header.module.scss
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-86 feat products list for all categories
  src/components/cards/card/Card.tsx
  src/components/cards/card/card.module.scss
  src/constants/constants.ts
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/categoryPage/utils.ts
Due: prettier --write, stylelint --fix

feat: NASA-86 feat category filter and subtrees filters
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/types.ts
  src/pages/categoryPage/utils.ts
Due: prettier --write

refactor: NASA-86 refactor login and header api
  src/components/loginForm/loginForm.tsx
  src/constants/constants.ts
  src/domain/header/Header.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

refactor: NASA-86 refactor category filter and subtrees filters
  .eslintrc.cjs
  src/components/ui/singleCheckboxGroup/SingleCheckboxGroup.tsx
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/utils.ts
Due: prettier --write

refactor: NASA-00-05 fix import order according to lint
  src/api/InteractionForProductList.ts
  src/components/loginForm/loginForm.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

feat: NASA-104 feat current location
  src/components/ui/singleCheckboxGroup/SingleCheckboxGroup.tsx
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-84 get filter by discount and bestseller
  src/components/ui/singleCheckboxGroup/SingleCheckboxGroup.tsx
  src/components/ui/singleCheckboxGroup/singleCheckboxGroup.module.scss
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

feat: NASA-112 throw an error if token is expired
  src/api/customer/createCustomer.ts
  src/api/me/changePassword.ts
  src/api/me/createNewAddress.ts
  src/api/me/getUser.ts
  src/api/me/loginUser.ts
  src/api/me/updateCustomer.ts
  src/api/middlewareFlows/withPasswordFlow.ts
  src/components/errorWindow/errorWindow.tsx
  src/components/ui/checkbox/checkbox.tsx
  src/core/routes/protected-route.tsx
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/forms/_forms.module.scss
  src/domain/header/Header.tsx
  src/pages/profilePage/ProfilePage.tsx
  src/utils/logOut.ts
Due: prettier --write, stylelint --fix

fix: remove useEffect on logout
  src/api/me/loginUser.ts
  src/components/errorWindow/errorWindow.tsx
  src/components/ui/checkbox/_checkbox.module.scss
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-84-1-2 feat price range
  .eslintrc.cjs
  global.d.ts
  package-lock.json
  package.json
  src/assets/styles/index.scss
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-84-1-2 feat style for catalog
  src/assets/styles/index.scss
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: delay the logout function
  src/components/errorWindow/errorWindow.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

feat: NASA-86 update api request
  src/api/products/getProductById.ts
Due: prettier --write

fix: NASA-86 add layout styles
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-86 add breadcrumbs to product page
  src/assets/images/icons/chevron-icon.svg
  src/assets/images/icons/home-icon.svg
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix
