Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat: NASA-65 add adaptive for home page content
  src/components/homeNavItem/_homeNavItem.module.scss
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

feat: NASA-65 add home page bg image
  src/assets/images/bg/bg-home.jpg
  src/assets/images/bg/circle-1.png
  src/assets/images/bg/circle-2.png
  src/assets/images/bg/circle-3.png
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

fix: NASA-65 fix title adaptive
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

refactor: NASA-65 remove commented code
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

feat: NASA-72 add log out and refactor api
  src/api/Api.ts
  src/api/ClientBuilder.ts
  src/api/CreatePasswordFlow.ts
  src/components/loginForm/loginForm.tsx
  src/core/state/loginState.ts
  src/core/state/types.ts
  src/domain/header/Header.tsx
Due: prettier --write

feat: NASA-60 add modal message component with styles
  src/assets/images/icons/close-icon.svg
  src/assets/images/icons/success-icon.svg
  src/components/modalMessage/ModalMessage.tsx
  src/components/modalMessage/_modalMessage.module.scss
  src/pages/homePage/HomePage.tsx
Due: stylelint --fix

feat: NASA-60 add animation logic to modal mesage component
  src/components/modalMessage/ModalMessage.tsx
  src/pages/homePage/HomePage.tsx
Due: none

refactor: NASA-54 refactor login Form error
  src/api/Api.ts
  src/components/loginForm/loginForm.tsx
Due: prettier --write

feat: NASA-60 add modal message state
  src/core/state/loginState.ts
  src/core/state/types.ts
Due: prettier --write

feat: NASA-60 show modal message on successful registration
  src/components/modalMessage/ModalMessage.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/pages/homePage/HomePage.tsx
Due: none

feat: NASA-54 feat registration form error
  src/api/Api.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

refactor: NASA-54 refactor console.error
  src/components/loginForm/loginForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/header/Header.tsx
Due: none

refactor: NASA-54 refactor handleLoginError function
  src/components/loginForm/loginForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/header/Header.tsx
  src/utils/utils.ts
Due: prettier --write

refactor: NASA-54 refactor login form
  src/components/loginForm/loginForm.tsx
Due: none

fix: NASA-60 add local state and update useEffect logic in modal component
  src/components/modalMessage/ModalMessage.tsx
Due: none

refactor: NASA-60 refactor modal message animation
  src/components/modalMessage/ModalMessage.tsx
  src/components/modalMessage/_modalMessage.module.scss
Due: stylelint --fix

feat: NASA-52 add favicon to the project
  index.html
  public/assets/icons/favicon.ico
Due: prettier --write

fix: NASA-52 unite imports under the same file
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

feat: NASA-52 add underline for email varification
  src/constants/constants.ts
Due: prettier --write

feat: NASA-52 add test for error messages
  src/tests/components/errorMessage/ErrorMessage.test.tsx
Due: none

feat: NASA-54 add test for formSubTitle
  src/domain/customer/registrationForm/registrationForm.tsx
  src/tests/components/errorMessage/ErrorMessage.test.tsx
  src/tests/components/formSubtitle/formSubTitle.test.tsx
Due: none

feat: NASA-52 add tests for navitems
  src/tests/components/formSubtitle/formSubTitle.test.tsx
  src/tests/components/formTitle/FormTitle.test.tsx
  src/tests/components/homeNavitem/HomeNavItem.test.tsx
Due: none

feat: NASA-54 add tests for input
  src/tests/components/ui/controllerLabel/label.test.tsx
  src/tests/components/ui/input/input.test.tsx
Due: none

feat: NASA-54 add test coverage
  src/constants/constants.ts
  src/tests/api/ClientBuilder.test.tsx
  src/tests/constants/constants.test.tsx
  src/tests/pages/Header.test.tsx
Due: prettier --write

feat: NASA-52 refactor according to lint
  src/tests/api/ClientBuilder.test.tsx
  src/tests/components/formTitle/FormTitle.test.tsx
  src/tests/components/homeNavitem/HomeNavItem.test.tsx
  src/tests/components/ui/input/input.test.tsx
  src/tests/constants/constants.test.tsx
  src/tests/pages/Header.test.tsx
Due: none

refactor: NASA-52 change placeholder for postalcode
  src/utils/inputProps.ts
Due: prettier --write

fix: NASA-39 fix email validation
  src/constants/constants.ts
Due: prettier --write

fix: NASA-52 add billing and shipping for options
  src/core/state/registrationState.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

fix: NASA-52 revise width on bigger screens
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: NASA-52 fix to desktop size
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

feat: NASA-03 start sprint 3
  src/pages/catalogPage/CatalogPage.tsx
Due: none

fix: NASA-40 disable submit button in login and register forms
  src/assets/styles/index.scss
  src/components/loginForm/loginForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: stylelint --fix

fix: NASA-40 disable submit button during form submitting
  src/components/loginForm/loginForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

fix: NASA-52 bag on the input change for country
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

refactor: NASA-39 change email input type to validate whitespaces
  src/components/loginForm/loginForm.tsx
  src/utils/inputProps.ts
Due: prettier --write

fix: NASA-39 revise regex according to rfc5322
  src/constants/constants.ts
Due: prettier --write

feat: NASA-93 add styles to header
  src/domain/header/_header.module.scss
  src/domain/header/navigation/Navigation.tsx
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA=95 add icon to profile
  public/assets/icons/astronaut-icon.jpg
  src/domain/header/navigation/Navigation.tsx
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-118 add navigation to profile page
  src/assets/images/icons/basket-icon.svg
  src/domain/header/Header.tsx
  src/domain/header/navigation/Navigation.tsx
  src/domain/header/navigation/_navigation.module.scss
  src/domain/header/navigation/types.ts
Due: prettier --write, stylelint --fix

refactor: NASA-118 add dynamic route const
  src/constants/constants.ts
  src/domain/header/navigation/Navigation.tsx
Due: prettier --write
