Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

refactor: NASA-00 refactor product grid styles
  src/components/cards/card/card.module.scss
  src/pages/categoryPage/_category.module.scss
Due: stylelint --fix

refactor: NASA-00 refactor category slider styles
  src/components/slider/SliderForCatalogPage.tsx
  src/components/slider/slider-catalog-page.scss
  src/pages/catalogPage/_catalog.module.scss
Due: stylelint --fix

feat: NASA 04 feat start Sprint 4
  src/components/cards/card/Card.tsx
  src/domain/customer/forms/addressForm/shippingAddress.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-131 create or get customer cart from api client
  src/api/me/createCustomerCart.ts
  src/api/me/getActiveCustomerCart.ts
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

feat: NASA-131 create anonymous cart request
  src/api/me/createAnonimousCart.ts
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

refactor: NASA-131 rename a file and move it to particular folder
  src/api/me/createAnonimousCart.ts
  src/api/middlewareFlows/withAnonymousFlow.ts
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

feat: create cart state for anonymous and logged in user
  src/api/me/addProductToCart.ts
  src/api/me/createAnonimousCart.ts
  src/api/middlewareFlows/withAnonymousFlow.ts
  src/components/loginForm/loginForm.tsx
  src/core/state/cartState.ts
  src/core/state/types.ts
  src/pages/productPage/ProductPage.tsx
  src/utils/logOut.ts
Due: prettier --write

feat: NASA-131 add basic cart view
  src/api/me/getActiveCustomerCart.ts
  src/api/me/getAnonymousCart.ts
  src/api/me/loginUser.ts
  src/core/state/cartState.ts
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/cartView/cartView.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/cartPage/CartPage.tsx
  src/pages/cartPage/_cart.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-131 add breadcrumbs component and refactor breadcrumbs on product page
  src/components/breadCrumbs/_breadCrumbs.module.scss
  src/components/breadCrumbs/breadCrumbs.tsx
  src/domain/cart/cartView/cartView.tsx
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

feat: NASA-131 add back button
  src/components/backButton/_backButton.module.scss
  src/components/backButton/backButton.tsx
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/cartView/cartView.tsx
  src/pages/cartPage/CartPage.tsx
Due: stylelint --fix

feat: NASA-131 get active cart for customer and anonymous user with persistent state after reloading
  src/api/me/getActiveCustomerCart.ts
  src/api/me/getAnonymousCart.ts
  src/core/state/cartState.ts
Due: prettier --write

refactor: NASA-131 add todo comments
  src/api/me/loginUser.ts
  src/api/middlewareFlows/withAnonymousFlow.ts
  src/core/state/cartState.ts
Due: prettier --write

feat: NASA-131 save active cart in cart state
  src/core/state/cartState.ts
  src/domain/cart/cartView/cartView.tsx
  src/pages/cartPage/CartPage.tsx
Due: prettier --write

feat: NASA-131 refactor adding product to cart requests
  src/api/me/addProductToCart.ts
  src/api/me/cart/addProductToAnonymousCart.ts
  src/api/me/cart/addProductToCustomerCart.ts
  src/api/me/cart/createAnonimousCart.ts
  src/api/me/cart/createCustomerCart.ts
  src/api/me/cart/getActiveCustomerCart.ts
  src/api/me/cart/getAnonymousCart.ts
  src/core/state/cartState.ts
  src/pages/cartPage/CartPage.tsx
Due: prettier --write

feat: NASA-131 render items from active customer cart and reset cart state after logout
  src/core/state/cartState.ts
  src/domain/cart/cartView/cartView.tsx
  src/pages/cartPage/CartPage.tsx
  src/utils/logOut.ts
Due: prettier --write

feat: NASA-131 set anonymous and customer cart and add product to cart
  src/api/me/cart/getAnonymousCart.ts
  src/api/me/loginUser.ts
  src/components/loginForm/loginForm.tsx
  src/core/state/cartState.ts
  src/pages/cartPage/CartPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

refactor: NASA-131 remove unused methods and properties from cart state
  src/core/state/cartState.ts
  src/core/state/types.ts
Due: prettier --write

feat: NASA-131 add basic cart item component
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: stylelint --fix

fix: NASA-131 fix warning in breadcrumbs component
  src/components/breadCrumbs/breadCrumbs.tsx
Due: none

fix: NASA-131 update login user request to merge carts
  src/api/me/loginUser.ts
Due: prettier --write

fix: NASA-131 fix adding product to anonymous card from product page
  src/pages/productPage/ProductPage.tsx
Due: none

refactor: NASA-131 refactor adding to cart method
  src/api/me/cart/addProductToAnonymousCart.ts
  src/api/me/cart/addProductToCart.ts
  src/core/state/cartState.ts
Due: prettier --write

feat: NASA-131 add cart item line component with styles
  src/assets/styles/mixins.scss
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/cartView/cartView.tsx
  src/pages/productPage/ProductPage.tsx
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --write, stylelint --fix

refactor: NASA-131 remove comments and unused code
  src/api/me/loginUser.ts
  src/api/middlewareFlows/withAnonymousFlow.ts
  src/components/loginForm/loginForm.tsx
  src/core/state/cartState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartView/cartView.tsx
Due: prettier --write

refactor: NASA-131 refactor get active cart method
  src/api/me/cart/getActiveCart.ts
  src/core/state/cartState.ts
Due: prettier --write

fix: remove old tests for home page
  public/assets/icons/rocket-icon.svg
  public/styles/fonts/firs-neue-medium.ttf
  public/styles/fonts/firs-neue-regular.ttf
  src/assets/styles/fonts.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/loginForm/loginForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/_home.module.scss
  src/tests/pages/HomePage.test.tsx
Due: stylelint --fix

refactor: NASA-125-1-3 refactor for header for catalog page
  src/domain/catalog/HeaderCatalog/HeaderCatalog.tsx
  src/domain/catalog/HeaderCatalog/headerCatalog.module.scss
  src/domain/catalog/types.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write, stylelint --fix

feat: revise footer for the project
  src/assets/styles/fonts.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/constants/constants.ts
  src/domain/footer/Footer.tsx
  src/domain/footer/_footer.module.scss
  src/domain/footer/navigation/FooterNavigation.tsx
  src/domain/footer/navigation/_footerNavigation.module.scss
Due: prettier --write, stylelint --fix

fix: NASA-131 store and update active cart version
  src/api/me/cart/addProductToCart.ts
  src/core/state/cartState.ts
Due: prettier --write

refactor: NASA-131 refactor adding product to cart request
  src/api/me/cart/addProductToCart.ts
Due: prettier --write

fix: NASA-131 set updated active cart
  src/core/state/cartState.ts
Due: prettier --write

fix: NASA-131 remove unnecessary condition
  src/core/state/cartState.ts
Due: prettier --write

refactor: NASA-125-1-3 refactor for filters block
  .eslintrc.cjs
  src/core/state/catalogState.ts
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/breadCrumbsCatalog/breadCrumbsCatalog.module.scss
  src/domain/catalog/filtersBlock/attributeBlock/attributeBlock.tsx
  src/domain/catalog/filtersBlock/filtersBlock.module.scss
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/domain/catalog/filtersBlock/priceRangeFilter/PriceRangeFilter.tsx
  src/domain/catalog/types.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-125-1-3 bread crumbs catalog
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/filtersBlock/attributeBlock/attributeBlock.tsx
Due: none

refactor: NASA-125-1-3 interfaces moved to the types file
  src/core/state/catalogState.ts
  src/core/state/types.ts
  src/domain/catalog/filtersBlock/attributeBlock/attributeBlock.tsx
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/domain/catalog/filtersBlock/priceRangeFilter/priceRangeFilter.module.scss
  src/domain/catalog/types.ts
Due: prettier --write, stylelint --fix

refactor: NASA-125-1-3 changed the position of login form, slider for the catalog,card for catalog
  src/assets/images/headerCatalog/meteorite-category-img.png
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/card/card.module.scss
  src/domain/catalog/card/types.ts
  src/domain/catalog/card/utils.ts
  src/domain/catalog/sliderForCatalogPage/SliderForCatalogPage.tsx
  src/domain/catalog/sliderForCatalogPage/slider-catalog-page.scss
  src/domain/customer/loginForm/_loginform.module.scss
  src/domain/customer/loginForm/loginForm.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/loginPage/LoginPage.tsx
Due: prettier --write, stylelint --fix

fix: revise footer removing navigation
  src/assets/images/icons/icon-git.svg
  src/assets/images/icons/icon-gmail.svg
  src/constants/constants.ts
  src/domain/footer/Footer.tsx
  src/domain/footer/_footer.module.scss
  src/domain/footer/navigation/FooterNavigation.tsx
  src/domain/footer/navigation/_footerNavigation.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-135 add empty cart state component with styles
  src/assets/images/bg/bg-empty-state.jpg
  src/domain/cart/cartView/cartView.tsx
  src/domain/cart/emptyCartView/_emptyCartState.module.scss
  src/domain/cart/emptyCartView/emptyCartState.tsx
Due: stylelint --fix

refactor: NASA-125-1-3 refactor name file
  src/app/App.tsx
  src/components/badge/badge.tsx
  src/components/homeNavItem/HomeNavItem.tsx
  src/components/modalMessage/ModalMessage.tsx
  src/components/modalProfile/ModalProfile.tsx
  src/components/sliderProduct/slider.tsx
  src/components/ui/singleCheckboxGroup/SingleCheckboxGroup.tsx
  src/components/ui/singleCheckboxGroup/_singleCheckboxGroup.module.scss
  src/core/routes/lazyConstant.tsx
  src/core/routes/protectedRoute.tsx
  src/core/routes/routesConfig.tsx
  src/domain/catalog/HeaderCatalog/HeaderCatalog.tsx
  src/domain/catalog/HeaderCatalog/_headerCatalog.module.scss
  src/domain/catalog/breadCrumbsCatalog/BreadCrumbsCatalog.tsx
  src/domain/catalog/breadCrumbsCatalog/_breadCrumbsCatalog.module.scss
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/card/_card.module.scss
  src/domain/catalog/filtersBlock/_filtersBlock.module.scss
  src/domain/catalog/filtersBlock/attributeBlock/attributeBlock.tsx
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/domain/catalog/filtersBlock/priceRangeFilter/PriceRangeFilter.tsx
  src/domain/catalog/filtersBlock/priceRangeFilter/priceRangeFilter.module.scss
  src/domain/catalog/sliderForCatalogPage/SliderForCatalogPage.tsx
  src/domain/catalog/sliderForCatalogPage/_sliderForCatalogPage.scss
  src/domain/customer/loginForm/loginForm.tsx
  src/domain/customer/profileView/profileView.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/header/Header.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/aboutPage/AboutPage.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/homePage/HomePage.tsx
  src/utils/checkboxAutocomplete.tsx
Due: stylelint --fix

fix: error bug on checkbox
  public/assets/images/home/meteorite-1.png
  public/assets/images/home/meteorite-2.png
  public/assets/images/home/meteorite-3.png
  src/assets/images/bg/bg-banner-1.jpg
  src/assets/images/bg/bg-banner-2.jpg
  src/assets/styles/mixins.scss
  src/components/homeCategory/HomeCategory.tsx
  src/components/homeCategory/_homeCategory.module.scss
  src/components/ui/checkbox/checkbox.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/footer/Footer.tsx
  src/pages/homePage/HomePage.tsx
Due: stylelint --fix
