Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: add block with suits
  src/assets/styles/variables.scss
  src/components/homeCategory/HomeCategory.tsx
  src/components/homeCategory/_homeCategory.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
Due: stylelint --fix

feat: NASA-123 add component for button which adds and removes item from cart
  src/constants/constants.ts
  src/domain/cart/сartToggleButton/_cartToggleButton.module.scss
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
Due: prettier --write, stylelint --fix

feat: NASA-123 replace button with new component in the product card
  src/components/cards/card/Card.tsx
  src/components/cards/card/card.module.scss
  src/domain/cart/сartToggleButton/_cartToggleButton.module.scss
Due: stylelint --fix

feat: NASA-123 replace button with new button component on the product page
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

feat: NASA-123 disable add to card button if product is added to the cart
  src/assets/styles/index.scss
  src/core/state/cartState.ts
  src/domain/cart/сartToggleButton/_cartToggleButton.module.scss
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-123 remove commented code
  src/domain/cart/emptyCartView/_emptyCartState.module.scss
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

feat: NASA-133 add remove from cart api request
  src/api/me/cart/removeProductFromCart.ts
Due: prettier --write

feat: NASA-133 remove item from cart and render updated cart
  src/core/state/cartState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/emptyCartView/_emptyCartState.module.scss
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --write, stylelint --fix

feat: NASA-137 add clear all button component
  src/components/clearButton/_clearButton.module.scss
  src/components/clearButton/clearButton.tsx
Due: stylelint --fix

feat: NASA-137 add clear button on the cart page
  src/components/clearButton/_clearButton.module.scss
  src/components/clearButton/clearButton.tsx
  src/domain/cart/cartView/cartView.tsx
Due: stylelint --fix

feat: NASA-137 add nearest shipping date info
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/cartView/cartView.tsx
Due: stylelint --fix

feat: NASA-137 add util for getting action props for multiple items
  src/api/me/cart/removeProductFromCart.ts
  src/core/state/cartState.ts
  src/utils/utils.ts
Due: prettier --write

refactor: NASA-137 refactor remove item from cart request
  src/api/me/cart/removeProductFromCart.ts
  src/components/clearButton/clearButton.tsx
  src/core/state/cartState.ts
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: prettier --write

refactor: NASA-125-1-3 refactor all bud for catalog
  src/components/modalMessage/ModalMessage.tsx
  src/components/ui/checkbox/checkbox.tsx
  src/core/state/catalogState.ts
  src/core/state/types.ts
  src/domain/catalog/filtersBlock/attributeBlock/attributeBlock.tsx
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/domain/catalog/types.ts
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write

feat: add last category for space
  public/assets/images/home/category/foot-main.png
  public/assets/images/home/category/foot-preview.png
  public/assets/images/home/category/small-meteorite-1.png
  public/assets/images/home/category/small-meteorite-2.png
  src/components/homeCategory/HomeCategory.tsx
  src/components/homeCategory/_homeCategory.module.scss
Due: stylelint --fix

feat: NASA-125-1-3 created pagination for catalog page
  src/assets/images/icons/next.png
  src/assets/images/icons/prev.png
  src/components/pagination/Patination.tsx
  src/components/pagination/pagination.scss
  src/core/state/catalogState.ts
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-125-1-3 added pagination for catalog page
  src/components/pagination/Patination.tsx
  src/components/pagination/pagination.scss
  src/core/state/catalogState.ts
  src/core/state/types.ts
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/domain/catalog/filtersBlock/priceRangeFilter/PriceRangeFilter.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write, stylelint --fix

feat: add slider with product discounts
  src/api/products/getProductsDiscountList.ts
  src/assets/styles/variables.scss
  src/components/home/discountCard/DiscountCard.tsx
  src/components/home/discountCard/_discountCard.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
  src/components/home/homeCategory/HomeCategory.tsx
  src/components/home/homeCategory/_homeCategory.module.scss
  src/pages/homePage/HomePage.tsx
Due: prettier --write, stylelint --fix

fix: NASA-125-1-3 fix style for category
  src/domain/catalog/filtersBlock/filtersBlock.tsx
  src/domain/catalog/filtersBlock/priceRangeFilter/PriceRangeFilter.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: none

fix: NASA-125-1-3 fix conflict for project
  src/components/cards/card/Card.tsx
  src/domain/catalog/card/Card.tsx
  src/domain/catalog/filtersBlock/_filtersBlock.module.scss
Due: stylelint --fix

fix: NASA-125-1-3 fix conflict for project
  .eslintrc.cjs
Due: none

feat: add slider
  src/assets/styles/index.scss
  src/components/home/discountCard/DiscountCard.tsx
  src/components/home/discountCard/_discountCard.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
Due: stylelint --fix

fix: NASA-125-1-3 fix conflict for src
  src/pages/categoryPage/CategoryPage.tsx
Due: none

fix: NASA-125-1-3 fix conflict for src2
  src/domain/catalog/HeaderCatalog/HeaderCatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: none

fix: NASA-125-1-3 fix conflict for src3
  src/domain/catalog/HeaderCatalog/HeaderCatalog.tsx
  src/domain/catalog/filtersBlock/FiltersBlockForCategoryPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: none

fix: NASA-125-1-3 fix conflict for src3
  src/domain/customer/loginForm/loginForm.tsx
Due: none

fix: make multiple slides per view
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
Due: stylelint --fix

refactor: remove shadows from slider
  src/components/home/discountCard/DiscountCard.tsx
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/homeCategory/HomeCategory.tsx
Due: none

feat: revise slider to 3d shadow modal
  src/components/home/discountCard/DiscountCard.tsx
  src/components/home/discountCard/_discountCard.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
  src/core/state/homeState.ts
  src/vite-env.d.ts
Due: prettier --write, stylelint --fix

feat: add block with promotions
  public/assets/images/home/banner/bg-binocular.jpg
  public/assets/images/home/banner/bg-food.jpg
  public/assets/images/home/banner/bg-poster.png
  public/assets/images/home/banner/bg-promocode.jpg
  src/assets/images/card/binocular.png
  src/assets/images/card/food.png
  src/assets/images/card/ufo-light.png
  src/assets/images/card/ufo.png
  src/assets/images/icons/-icon-allien.svg
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
  src/pages/homePage/HomePage.tsx
Due: stylelint --fix

feat: NASA-132 add quantity controls
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: stylelint --fix

feat: add promocode section
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
  src/components/modalMessage/ModalMessage.tsx
  src/core/state/types.ts
  src/core/state/userState.ts
  src/pages/homePage/HomePage.tsx
Due: prettier --write, stylelint --fix

refactor: styles acording to lint
  src/components/home/promotion/Promotion.tsx
  src/components/modalMessage/ModalMessage.tsx
  src/pages/homePage/HomePage.tsx
Due: none

feat: NASA-132 recalculate item cost according to the item quantity
  src/domain/cart/cartItemLine/cartItemLine.tsx
Due: none

fix: revise background and styles of card
  public/assets/images/home/banner/bg-poster.png
  src/assets/images/card/poster.png
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
Due: stylelint --fix

refactor: width of container
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
Due: stylelint --fix

refactor: change the size of text
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
Due: stylelint --fix

feat: NASA-132 add summary component with cart parameters
  src/core/state/cartState.ts
  src/domain/cart/cartSummary/_cartSummary.module.scss
  src/domain/cart/cartSummary/cartSummary.tsx
  src/domain/cart/cartView/cartView.tsx
  src/pages/cartPage/CartPage.tsx
  src/utils/utils.ts
Due: prettier --write, stylelint --fix

refactor: NASA-132 refactor cart state
  src/core/state/cartState.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
