Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat: NASA-40 add api request function to login form
  src/components/loginForm/loginForm.tsx
Due: none

refactor: NASA-60 trim string in zod before submitting form
  src/constants/constants.ts
Due: prettier --write

refactor: NASA-60 return date in in ISO 8601
  src/constants/constants.ts
Due: prettier --write

feat: NASA-60 add registration state to the form
  src/components/ui/input/_input.module.scss
  src/constants/constants.ts
  src/core/state/registrationState.ts
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
  src/utils/inputProps.ts
  src/utils/types.ts
Due: prettier --write, stylelint --fix

refactor: NASA-60 revise import according to lint styles
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

feat: NASA-40 get user by email from api client
  src/api/AdminBuilder.ts
  src/api/ClientBuilder.ts
  src/components/loginForm/loginForm.tsx
Due: prettier --write

feat: NASA-40 handle error response
  src/api/AdminBuilder.ts
  src/api/ClientBuilder.ts
  src/utils/utils.ts
Due: prettier --write

fix: NASA-54 revise form checkboxes with default values
  src/components/ui/checkbox/checkbox.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

refactor: NASA-60 revise styles according to slint
  src/components/ui/checkbox/checkbox.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

refactor: NASA-60 move checkbox under the section
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

refactor: NASA-40 refactor error handling
  src/api/ClientBuilder.ts
  src/components/loginForm/loginForm.tsx
  src/utils/utils.ts
Due: prettier --write

feat: NASA-40 render form error messages near particular input
  src/api/ClientBuilder.ts
  src/components/loginForm/loginForm.tsx
Due: prettier --write

feat: NASA-40 set customer credentials
  src/api/ClientBuilder.ts
  src/components/loginForm/loginForm.tsx
  src/core/state/loginState.ts
Due: prettier --write

feat: NASA-40 save customer credentials to local storage
  src/components/loginForm/loginForm.tsx
  src/constants/constants.ts
  src/core/state/loginState.ts
Due: prettier --write

fix: NASA-40 fix logout button styles
  src/components/ui/input/input.tsx
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

refactor: NASA-40 refactor link as button
  src/assets/styles/index.scss
  src/assets/styles/variables.scss
  src/components/loginForm/loginForm.tsx
Due: stylelint --fix

feat: NASA-60 featch api to backend for signup
  src/core/state/registrationState.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

feat: NASA-42 feat api class , and create anonymous and password flow sessions
  src/api/AdminBuilder.ts
  src/api/Api.ts
  src/api/ClientBuilder.ts
  src/api/CreateAnonymousApi.ts
  src/api/CreatePasswordFlow.ts
  src/main.tsx
Due: prettier --write

feat: NASA-42 add new pattern for branch
  .husky/pre-push
Due: none

feat: NASA-54 revise styles of select input
  src/assets/styles/index.scss
  src/components/ui/controllerLabel/label.tsx
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
Due: stylelint --fix

refactor: NASA-54 fix styles on mobile screens
  src/components/ui/controllerLabel/label.tsx
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: NASA-54 style the placeholder
  src/assets/styles/index.scss
Due: stylelint --fix

refactor: NASA-54 fix error sizes
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: NASA-60 add cursor point events
  src/assets/styles/index.scss
  src/components/errorMessage/_errorMessage.module.scss
  src/components/ui/checkbox/_checkbox.module.scss
  src/domain/customer/registrationForm/_registrationForm.module.scss
Due: stylelint --fix

refactor: NASA-54 revise name of placeholders
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/utils/inputProps.ts
Due: prettier --write, stylelint --fix

fix: NASA-42 fix admin bilder
  src/api/AdminBuilder.ts
Due: prettier --write

fix: revise pull request template to previous settings
  .github/pull_request_template.md
Due: prettier --write

fix: NASA-00 fix default props warning
  .eslintrc.cjs
  src/components/ui/input/input.tsx
Due: none

refactor: NASA-40 refactor api client in login form
  src/api/Api.ts
  src/api/ClientBuilder.ts
  src/assets/styles/index.scss
  src/components/loginForm/loginForm.tsx
  src/core/state/registrationState.ts
  src/main.tsx
Due: prettier --write, stylelint --fix

fix: NASA-00 fix default props warning
  src/components/ui/checkbox/checkbox.tsx
Due: none

fix: NASA-00 fix non-unique input id warnings in register form
  src/components/ui/input/input.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/inputProps.ts
Due: prettier --write

refactor: NASA-40 remove loginUser function from clientBuilder
  src/api/ClientBuilder.ts
Due: prettier --write

refactor: NASA-00 change placeholders text in login form
  src/components/loginForm/loginForm.tsx
Due: none

refactor: NASA-00 refactor api class
  src/api/AdminBuilder.ts
  src/api/Api.ts
Due: prettier --write

feat: NASA-65 add navigation item component
  src/components/homeNavItem/HomeNavItem.tsx
  src/components/homeNavItem/_homeNavItem.module.scss
  src/pages/homePage/HomePage.tsx
Due: stylelint --fix

feat: NASA-65 update home page content
  src/api/ClientBuilder.ts
  src/assets/images/icons/catalog-nav-icon.svg
  src/assets/images/icons/login-nav-icon.svg
  src/assets/images/icons/register-nav-icon.svg
  src/assets/images/icons/team-nav-icon.svg
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/homeNavItem/HomeNavItem.tsx
  src/components/homeNavItem/_homeNavItem.module.scss
  src/main.tsx
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/_home.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-65 add styles to home page content
  src/components/homeNavItem/HomeNavItem.tsx
  src/components/homeNavItem/_homeNavItem.module.scss
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

feat: NASA-65 add links to navigation items on home page
  src/components/homeNavItem/HomeNavItem.tsx
  src/components/homeNavItem/_homeNavItem.module.scss
  src/pages/homePage/HomePage.tsx
Due: stylelint --fix

fix: NASA-65 fix warning
  src/pages/homePage/HomePage.tsx
Due: none

fix: NASA-65 refactor links and fix warning
  src/components/homeNavItem/HomeNavItem.tsx
  src/components/homeNavItem/_homeNavItem.module.scss
Due: stylelint --fix
