Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

fix: overflow text
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/slider-home.scss
  src/components/home/homeCard/_homeCard.module.scss
Due: stylelint --fix

fix: NASA-160 styles in slint
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
Due: stylelint --fix

feat: NASA-136 add promocode validation and display errors
  src/constants/constants.ts
  src/core/state/cartState.ts
  src/domain/cart/cartView/_cartView.module.scss
  src/domain/cart/promocode/_promocode.module.scss
  src/domain/cart/promocode/promocode.tsx
Due: prettier --write, stylelint --fix

feat: NASA-136 add cart mobile version
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/domain/cart/cartItemLine/cartItemLine.tsx
  src/domain/cart/cartSummary/_cartSummary.module.scss
  src/domain/cart/cartView/_cartView.module.scss
  src/pages/cartPage/_cart.module.scss
Due: stylelint --fix

fix: NASA-160 resolve merge conflicts
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/homeCard/HomeCard.tsx
  src/constants/constants.ts
  src/domain/cart/cartRemoveButton/CartRemoveButton.tsx
  src/domain/cart/сartToggleButton/cartToggleButton.tsx
  src/domain/customer/loginForm/loginForm.tsx
  src/pages/productPage/ProductPage.tsx
  src/utils/types.ts
Due: prettier --write

refactor: remove shadows from cards
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/homeCard/HomeCard.tsx
  src/components/home/homeCard/_homeCard.module.scss
Due: stylelint --fix

refactor: remove shadows from cards
  src/assets/images/icons/icon-facebook.svg
  src/assets/images/icons/icon-instagram.svg
  src/assets/styles/variables.scss
  src/domain/footer/Footer.tsx
  src/domain/footer/_footer.module.scss
Due: stylelint --fix

fix: NASA-160 add loader to best products
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/slider-home.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/components/home/discountProduct/_discountProduct.module.scss
  src/components/home/homeCategory/HomeCategory.tsx
  src/core/state/homeState.ts
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-148 added card from about page
  src/assets/images/animation/146.gif
  src/assets/images/bg/1679614664_bogatyr-club-p-zvezdnii-fon-chernii-pinterest-8.jpg
  src/assets/images/bg/1679614726_bogatyr-club-p-zvezdnii-fon-chernii-pinterest-13.jpg
  src/assets/images/bg/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png
  src/assets/images/bg/twinkling.png
  src/assets/images/card/Anna.png
  src/assets/images/card/Katerina.png
  src/assets/images/card/Tasha.png
  src/assets/images/card/github.png
  src/assets/images/card/logo-rs.svg
  src/domain/about/card/CardFromAboutPage.tsx
  src/domain/about/card/_cardFromAboutPage.module.scss
  src/domain/about/card/types.ts
  src/domain/footer/Footer.tsx
  src/domain/footer/_footer.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-136 add confirmation modal window on clear cart action
  src/components/clearButton/clearButton.tsx
  src/domain/cart/cartView/cartView.tsx
  src/domain/cart/modalClearCart/_modalClearCart.module.scss
  src/domain/cart/modalClearCart/modalClearCart.tsx
Due: stylelint --fix

fix: NASA-136 fix adding product to cart on product page
  src/pages/productPage/ProductPage.tsx
Due: none

fix: NASA-136 fix styles
  src/domain/cart/cartItemLine/_cartItemLine.module.scss
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-148 added link
  src/assets/images/animation/146.gif
  src/assets/images/bg/1678394039_bogatyr-club-p-fon-planeta-zemlya-iz-kosmosa-foni-oboi-58.jpg
  src/assets/images/bg/bg-home1.jpg
  src/assets/images/bg/d33299a15fd21eff6b1ef2c187143b9281d2ed47abbfda65511f18d9565b36d0.png
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/discountProduct/DiscountProduct.tsx
  src/domain/about/card/CardFromAboutPage.tsx
  src/domain/about/card/_cardFromAboutPage.module.scss
  src/domain/footer/_footer.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

feat: NASA-148 added block for team
  src/assets/images/icons/astronaut.png
  src/assets/images/icons/astronaut2.png
  src/assets/images/icons/astronaut3.png
  src/components/home/bestProduct/_bestProduct.module.scss
  src/domain/about/card/_cardFromAboutPage.module.scss
  src/domain/footer/_footer.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
  src/pages/homePage/_home.module.scss
Due: stylelint --fix

feat: NASA-04 add tests
  src/pages/homePage/HomePage.tsx
  src/tests/api/customer/createAnonimousCart.test.tsx
  src/tests/api/customer/getCustomerByEmail.test.tsx
  src/tests/api/customer/loginCustomer.test.tsx
  src/tests/api/products/getAllProducts.test.tsx
  src/tests/api/products/getHomeProductList.test.tsx
  src/tests/api/products/getProductById.test.tsx
  src/tests/components/breadCrumbs/breadCrumbs.test.tsx
  src/tests/components/home/homeCard.test.tsx
  src/tests/components/home/homeCategory.test.tsx
  src/tests/components/home/promotion.test.tsx
  src/tests/constants/email.test.tsx
  src/tests/constants/name.test.tsx
  src/tests/domain/customer/infoField.test.tsx
  src/tests/domain/customer/profileAvatar.test.tsx
  src/tests/domain/emptyCartView.test.tsx
  src/tests/main.test.tsx
  src/tests/pages/HomePage.test.tsx
  src/tests/utils/formatPrice.test.tsx
  src/tests/utils/inputProps.test.tsx
  src/tests/utils/isErrorType.test.tsx
  src/tests/utils/token.test.tsx
  src/tests/utils/utils.test.tsx
Due: none

refactor: NASA-04 revise test files according to stylelint
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/homeCategory/HomeCategory.tsx
  src/pages/homePage/HomePage.tsx
  src/pages/profilePage/ProfilePage.tsx
  src/tests/api/customer/createAnonimousCart.test.tsx
  src/tests/api/customer/getCustomerByEmail.test.tsx
  src/tests/api/products/getHomeProductList.test.tsx
  src/tests/api/products/getProductById.test.tsx
  src/tests/components/breadCrumbs/breadCrumbs.test.tsx
  src/tests/components/home/homeCard.test.tsx
  src/tests/constants/email.test.tsx
  src/tests/constants/name.test.tsx
  src/tests/domain/customer/profileAvatar.test.tsx
  src/tests/domain/emptyCartView.test.tsx
  src/tests/utils/inputProps.test.tsx
  src/tests/utils/isErrorType.test.tsx
  src/tests/utils/token.test.tsx
Due: none

fix: NASa-04 add missing imports to tests
  src/tests/components/home/homeCard.test.tsx
  src/tests/components/home/promotion.test.tsx
  src/tests/domain/emptyCartView.test.tsx
  src/tests/main.test.tsx
  src/tests/utils/inputProps.test.tsx
  vite.config.ts
Due: prettier --write

refactor: revise styles in tests
  src/tests/domain/emptyCartView.test.tsx
  src/tests/main.test.tsx
  src/tests/utils/inputProps.test.tsx
Due: none

fix: add missing import in homePage
  src/tests/pages/HomePage.test.tsx
Due: none

fix: add missing imports in breadCrumbs
  src/tests/components/breadCrumbs/breadCrumbs.test.tsx
Due: none

feat: NASA-148 feat modal window
  src/domain/about/card/types.ts
  src/domain/about/descriptionBlock/DescriptionBlock.tsx
  src/domain/about/descriptionBlock/_descriptionBlock.module.scss
  src/domain/about/modalAbout/ModalAbout.tsx
  src/domain/about/modalAbout/_modalAbout.module.scss
  src/domain/footer/_footer.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-148 feat style from about
  src/domain/about/card/CardFromAboutPage.tsx
  src/domain/about/card/_cardFromAboutPage.module.scss
  src/domain/about/card/types.ts
  src/domain/about/descriptionBlock/DescriptionBlock.tsx
  src/domain/about/descriptionBlock/_descriptionBlock.module.scss
  src/domain/about/modalAbout/ModalAbout.tsx
  src/domain/about/modalAbout/_modalAbout.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
Due: prettier --write, stylelint --fix

refactor: NASA-148 refactor bug from project
  src/domain/footer/Footer.tsx
  src/pages/aboutPage/AboutPage.tsx
  src/tests/components/breadCrumbs/breadCrumbs.test.tsx
Due: none

refactor: NASA-148 refactor name from project
  src/pages/aboutPage/AboutPage.tsx
Due: none

refactor: NASA-00 refactor home page styles
  public/assets/images/home/category/banner-food-img-1.png
  public/assets/images/home/category/banner-food-img-2.png
  src/components/home/bestProduct/BestProduct.tsx
  src/components/home/bestProduct/_bestProduct.module.scss
  src/components/home/discountProduct/_discountProduct.module.scss
  src/components/home/homeCard/_homeCard.module.scss
  src/components/home/homeCategory/HomeCategory.tsx
  src/components/home/homeCategory/_homeCategory.module.scss
  src/components/home/promotion/Promotion.tsx
  src/components/home/promotion/_promotion.module.scss
Due: stylelint --fix

fix: NASA-00 fix item quantity rendering after login
  src/domain/cart/cartView/cartView.tsx
  src/pages/categoryPage/utils.ts
Due: prettier --write

fix: NASA-00 change headline size
  src/components/home/discountProduct/_discountProduct.module.scss
Due: stylelint --fix

fix: NASA-00 set cart on product and catalog page
  src/core/state/cartState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/productPage/ProductPage.tsx
Due: prettier --write

fix: NASA-00 fix a circle aspect ratio on the space food banner
  src/components/home/homeCategory/_homeCategory.module.scss
Due: stylelint --fix

refactor: NASA-00 update about page styles
  src/assets/images/card/Anna.png
  src/assets/images/card/Katerina.png
  src/assets/images/card/Katsyarina.png
  src/assets/images/card/Tasha.png
  src/assets/images/card/ania.png
  src/assets/images/card/github-icon.svg
  src/assets/images/icons/astronaut-1.svg
  src/assets/images/icons/astronaut-2.svg
  src/assets/images/icons/astronaut-3.svg
  src/assets/images/icons/astronaut.png
  src/assets/images/icons/astronaut2.png
  src/assets/images/icons/astronaut3.png
  src/domain/about/card/CardFromAboutPage.tsx
  src/domain/about/card/_cardFromAboutPage.module.scss
  src/domain/about/descriptionBlock/_descriptionBlock.module.scss
  src/domain/about/modalAbout/ModalAbout.tsx
  src/domain/about/modalAbout/_modalAbout.module.scss
  src/domain/header/navigation/_navigation.module.scss
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
Due: stylelint --fix

fix: NASA-04 registration form checked box
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/order/order-status/.gitkeep
  src/domain/products/product/.gitkeep
Due: none

refactor: form styles according to slint
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

fix: about page cards width on 850 width
  src/domain/about/card/_cardFromAboutPage.module.scss
Due: stylelint --fix

fix: cart bag on displaying amount of items
  src/domain/cart/cartView/cartView.tsx
Due: none

refactor: remove unused imports
  src/domain/cart/cartView/cartView.tsx
Due: none

fix: NASA-04-02 fix about page
  src/domain/about/card/_cardFromAboutPage.module.scss
  src/pages/aboutPage/_about.module.scss
Due: stylelint --fix

feat: NASA-04-02 added item in order
  src/domain/header/navigation/Navigation.tsx
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

fix: NASA-04-02 fix picture paths
  src/assets/styles/fonts.scss
  src/components/home/homeCategory/HomeCategory.tsx
  src/components/home/homeCategory/_homeCategory.module.scss
  src/components/home/promotion/_promotion.module.scss
  src/domain/header/navigation/Navigation.tsx
  src/pages/homePage/HomePage.tsx
Due: stylelint --fix

fix: NASA-04-02 fix picture paths from home page
  src/components/home/homeCategory/HomeCategory.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/homePage/HomePage.tsx
Due: none

fix: NASA-04-02 fix picture paths from home page2
  src/components/home/homeCategory/HomeCategory.tsx
  src/pages/homePage/HomePage.tsx
Due: none
