Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat: NASA-53 add calendar input validation
  package-lock.json
  package.json
  src/assets/images/icons/icon-calendar.svg
  src/constants/constants.ts
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write, stylelint --fix

fix: NASA-39 fix validation mode and rule
  src/components/loginForm/loginForm.tsx
  src/constants/constants.ts
Due: prettier --write

feat: NASA-39 add password input component with eye icon
  src/assets/images/icons/icon-invisible.svg
  src/assets/images/icons/icon-visible.svg
  src/components/loginForm/loginForm.tsx
  src/components/ui/input/_input.module.scss
  src/components/ui/input/input.tsx
  src/components/ui/inputPassword/inputPassword.tsx
Due: stylelint --fix

feat: NASA-39 change input type clicking on the eye button
  src/components/ui/input/_input.module.scss
  src/components/ui/inputPassword/inputPassword.tsx
Due: stylelint --fix

feat: NASA-39 add static visibility icon to password field
  src/assets/images/icons/icon-eye.svg
  src/components/ui/input/_input.module.scss
  src/components/ui/input/input.tsx
Due: stylelint --fix

feat: NASA-70 add lazy import from router
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/core/routes/lazy-constant.tsx
  src/core/routes/routes-config.tsx
  src/domain/header/Header.tsx
  src/domain/header/navigation/Navigation.tsx
  src/pages/aboutPage/AboutPage.tsx
  src/pages/aboutPage/_about.module.scss
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
  src/pages/layout/Layout.tsx
  vitest.config.ts
Due: prettier --write, stylelint --fix

feat: NASA-53 add calendar to the registration
  package-lock.json
  package.json
  src/components/ui/calendarLabel/label.tsx
  src/constants/constants.ts
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/.gitkeep
Due: prettier --write, stylelint --fix

feat: NASA-53 add label to calendar
  src/components/ui/calendarLabel/label.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

feat: NASA-53 add validation to calendar
  package-lock.json
  package.json
  src/constants/constants.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

refactor: NASA-53 revise stylies to calendar
  src/domain/customer/registrationForm/_registrationForm.module.scss
  src/domain/customer/registrationForm/registrationForm.tsx
Due: stylelint --fix

feat: NASA-53 add main address validation
  src/components/ui/checkbox/checkbox.tsx
  src/constants/constants.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

fix: NASA-53 hide the inputs
  src/components/ui/checkbox/checkbox.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

fix: NASA-53 revise date function
  src/constants/constants.ts
Due: prettier --write

refactor: NASA-53 remove complexity error
  .eslintrc.cjs
Due: none

fix: NASA-53 revise logic for postcode
  src/constants/constants.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

feat: NASA-53 add manualChunks load for node modules
  vite.config.ts
Due: prettier --write

feat: NASA-39 add button styles
  src/assets/styles/index.scss
  src/assets/styles/variables.scss
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/domain/header/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-39 add adaptive version for login form
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/components/formTitle/_formTitle.module.scss
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/domain/footer/_footer.module.scss
  src/pages/loginPage/LoginPage.tsx
  src/pages/loginPage/_login.module.scss
Due: stylelint --fix

refactor: NASA-39 remove commented code
  src/components/loginForm/_loginform.module.scss
  src/components/ui/input/input.tsx
Due: stylelint --fix

fix: NASA-53 add validation to index based on country
  src/constants/constants.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

refactor: NASA-53 sort fields in ABC
  src/domain/customer/registrationForm/registrationForm.tsx
  vite.config.ts
Due: prettier --write

feat: NASA-70 add admin and client api
  .env.example
  .gitignore
  package-lock.json
  package.json
  src/api/.gitkeep
  src/api/AdminBuilder.ts
  src/api/ClientBuilder.ts
  src/core/routes/lazy-constant.tsx
  src/main.tsx
  src/pages/layout/Layout.tsx
  src/sdk.d.ts
  vite.config.ts
Due: prettier --write

fix: NASA-70 fix gitignore
  .gitignore
Due: none

feat: NASA-57 add burger menu
  src/assets/styles/index.scss
  src/domain/header/Header.tsx
  src/domain/header/_header.module.scss
  src/domain/header/navigation/Navigation.tsx
  src/domain/header/navigation/_navigation.module.scss
  src/domain/header/navigation/types.ts
Due: prettier --write, stylelint --fix

feat: NASA-57 add 404 page
  src/assets/images/bg/bg-404.jpg
  src/assets/images/icons/icon-404.svg
  src/assets/styles/index.scss
  src/components/formTitle/_formTitle.module.scss
  src/components/loginForm/_loginform.module.scss
  src/components/loginForm/loginForm.tsx
  src/domain/header/navigation/_navigation.module.scss
  src/pages/notFoundPage/NotFoundPage.tsx
  src/pages/notFoundPage/_not-found-page.module.scss
Due: stylelint --fix

feat: NASA-63 set default address on checkbox click
  src/components/ui/checkbox/checkbox.tsx
  src/constants/constants.ts
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: prettier --write

feat: NASA-57 add links to home page
  src/assets/images/bg/circle-1.png
  src/assets/images/bg/circle-2.png
  src/assets/images/bg/circle-3.png
  src/assets/styles/mixins.scss
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/_home.module.scss
  src/pages/notFoundPage/_not-found-page.module.scss
Due: stylelint --fix

feat: NASA-63 disable input on default
  src/components/ui/input/input.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

feat: NASA-63 disable checkboxes when user set default address
  src/components/ui/checkbox/checkbox.tsx
  src/components/ui/input/input.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

refactor: NASA-64 revise styles according to lint
  src/components/ui/checkbox/checkbox.tsx
  src/components/ui/input/input.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

feat: NASA-64 add default shipping address
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

feat: NASA-64 add default billing address
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

fix: NASA-64 unite billing and shipping under the same hook
  src/domain/customer/registrationForm/registrationForm.tsx
  src/utils/checkbox-autocomplete.tsx
Due: none

fix: NASA-64 remove curly brackets
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

refactor: NASA-54 error messages on submit
  src/constants/constants.ts
Due: prettier --write

refactor: NASA-53 change naming of the component
  src/components/ui/controllerLabel/label.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

feat: NASA-52 add link to login page
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

feat: NASA-68 add redirection to login page
  package-lock.json
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

refactor: NASA-40 add arguments to loginUserfunction
  src/api/ClientBuilder.ts
  src/main.tsx
Due: prettier --write
