Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix: NASA-91 add mobile width to container of forms
  src/pages/profilePage/_profile.module.scss
Due: stylelint --fix

refactor: NASA-91 add mobile adaptive for profile page
  src/components/modalProfile/_modalProfile.module.scss
  src/domain/customer/avatar/_profileAvatar.module.scss
  src/domain/customer/profileView/_profileView.module.scss
  src/domain/header/navigation/_navigation.module.scss
  src/pages/profilePage/_profile.module.scss
Due: stylelint --fix

feat: NASA-110 add modal view
  src/domain/customer/profileView/profileView.tsx
Due: none

feat: NASA-110 add modal window on successful update
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

refactor: NASA-110 revise modal message
  src/pages/profilePage/ProfilePage.tsx
Due: none

fix: NASA-03 remove form errors from server on inputs
  src/components/loginForm/loginForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

refactor: NASA-03 revise line gap
  src/domain/customer/registrationForm/registrationForm.tsx
Due: none

refactor: NASA-112 change the color of modal window
  src/components/modalProfile/_modalProfile.module.scss
Due: stylelint --fix

fix: NASA-91 test for formtitle
  src/components/formTitle/FormTitle.tsx
  src/components/modalProfile/_modalProfile.module.scss
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/domain/customer/profileView/profileView.tsx
  src/tests/components/formTitle/FormTitle.test.tsx
  src/utils/useToggleModal.tsx
Due: stylelint --fix

feat: NASA-112 add properties to password
  src/api/Api.ts
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/utils/inputProps.ts
Due: prettier --write

feat: NASA-83-1-1 feat get product list
  src/api/InteractionForProductList.ts
  src/components/cards/card/Card.tsx
  src/components/cards/card/card.module.scss
  src/domain/products/product-categories/.gitkeep
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/_category.module.scss
Due: prettier --write, stylelint --fix

feat: NASA-85-1-3 ineractive products card and changing the product list by category
  src/components/cards/card/card.module.scss
  src/components/slider/slider-catalog-page.scss
  src/pages/categoryPage/CategoryPage.tsx
Due: stylelint --fix

feat: NASA-00-04-fix revise server side calls
  src/api/Api.ts
  src/api/customer/createCustomer.ts
  src/api/customer/getCustomerByEmal.ts
  src/api/customer/updateCustomer.ts
  src/api/me/changePassword.ts
  src/api/me/getUser.ts
  src/api/me/loginUser.ts
  src/api/middlewareFlows/withClientCredentials.ts
  src/api/middlewareFlows/withPasswordFlow.ts
  src/api/middlewareFlows/withRefreshToken.ts
  src/api/products/getAllProducts.ts
  src/api/token/MyTokenCache.ts
  src/api/token/NasaTokenCache.ts
  src/api/token/anonymousSession.ts
  src/api/token/existingToken.ts
  src/components/loginForm/loginForm.tsx
  src/domain/customer/forms/emailForm/emailForm.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/domain/customer/registrationForm/registrationForm.tsx
  src/domain/header/Header.tsx
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/profilePage/ProfilePage.tsx
  src/utils/getToken.ts
Due: prettier --write

fix: NASA-0-04 save user to storage on successful signup
  src/api/customer/createCustomer.ts
  src/api/middlewareFlows/withPasswordFlow.ts
  src/domain/customer/registrationForm/registrationForm.tsx
Due: prettier --write

refactor: NASA api remove unused api
  src/api/AdminBuilder.ts
  src/api/ClientBuilder.ts
  src/api/CreateAnonymousApi.ts
  src/api/CreatePasswordFlow.ts
  src/components/loginForm/loginForm.tsx
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/domain/header/Header.tsx
  src/pages/profilePage/ProfilePage.tsx
  src/tests/api/ClientBuilder.test.tsx
Due: prettier --write

refactor: NASA token cache add calls through refreshToken
  src/api/me/changePassword.ts
  src/api/me/getUser.ts
  src/api/me/loginUser.ts
  src/api/middlewareFlows/withRefreshToken.ts
  src/api/token/MyTokenCache.ts
  src/api/token/NasaTokenCache.ts
  src/api/token/anonymousSession.ts
  src/domain/customer/forms/passwordForm/passwordForm.tsx
  src/domain/header/Header.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: prettier --write

refactor: NASA-0-05 fix remove unused exist token flow
  src/api/token/existingToken.ts
Due: prettier --write

refactor: NASA update user with refreshtoken flow
  src/api/customer/updateCustomer.ts
Due: prettier --write

feat: NASA-88 get price and discount and render on the product page
  src/pages/productPage/ProductPage.tsx
  src/utils/utils.ts
Due: prettier --write

fix: NASA-88 change currency sign
  src/utils/utils.ts
Due: prettier --write

feat: NASA-88 add price info styles
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-88 add styles for product slider
  src/components/sliderProduct/_slider.module.scss
  src/components/sliderProduct/slider.tsx
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

feat: NASA-88 extract data for discount and bestseller badges
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-88 add badge component
  src/components/badge/_badge.module.scss
  src/components/badge/badge.tsx
Due: stylelint --fix

feat: NASA-88 add badge styles
  src/components/badge/_badge.module.scss
Due: stylelint --fix

fix: NASA-88 fix badge component types
  src/components/badge/badge.tsx
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-88 render product badges
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-84-1-2 add state catalog
  src/api/Api.ts
  src/api/InteractionForProductList.ts
  src/components/cards/card/card.module.scss
  src/components/cards/card/utils.ts
  src/core/state/catalogState.ts
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
Due: prettier --write, stylelint --fix

feat: NASA-84-1-2 add get all subcategories
  src/api/InteractionForProductList.ts
  src/core/state/catalogState.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/utils.ts
Due: prettier --write

feat: NASA-88 render badges
  src/components/badge/_badge.module.scss
  src/components/badge/badge.tsx
  src/pages/productPage/ProductPage.tsx
Due: stylelint --fix

fix: NASA-88 fix types
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

fix: NASA-88 fix styles
  src/components/badge/_badge.module.scss
  src/pages/productPage/ProductPage.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

feat: NASA-84-1-2 add get all attributes for category
  src/core/state/catalogState.ts
  src/pages/catalogPage/CatalogPage.tsx
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/utils.ts
Due: prettier --write

feat: NASA-88 add adaptive
  src/components/sliderProduct/_slider.module.scss
  src/components/sliderProduct/slider.tsx
  src/pages/productPage/_product.module.scss
Due: stylelint --fix

fix: NASA-88 remove logs from console
  src/pages/productPage/ProductPage.tsx
Due: none

feat: NASA-88 add modal slider adaptive
  src/components/sliderProduct/_slider.module.scss
Due: stylelint --fix

fix: NASA-88 fix modal slider adaptive
  src/components/sliderProduct/_slider.module.scss
Due: stylelint --fix

feat: NASA-112 add form for changing general information
  src/components/ui/input/_input.module.scss
  src/constants/constants.ts
  src/core/state/types.ts
  src/core/state/userState.ts
  src/domain/customer/forms/_forms.module.scss
  src/domain/customer/forms/generalForm/generalForm.tsx
  src/domain/customer/profileView/profileView.tsx
Due: prettier --write, stylelint --fix

refactor: remove unused call for all products
  src/components/loginForm/loginForm.tsx
  src/domain/customer/forms/generalForm/generalForm.tsx
  src/domain/header/Header.tsx
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
