Repository nestserka/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat: -13 add new rules for pre-commit
  .eslintrc.cjs
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  coverage/base.css
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/app/App.tsx.html
  coverage/src/app/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
Due: prettier --write, stylelint --fix

feat: NASA-13 add new rules for pre-commit2
  commitlint.config.js
  package.json
Due: prettier --write

feat: NASA-25 update md with project description and tech stack
  README.md
Due: prettier --write

feat: NASA-12 add env file
  .env.example
Due: none

feat: NASA-26 add list of available scripts
  README.md
Due: prettier --write

feat: NASA-15 create LICENSE.md file
  LICENSE.md
Due: prettier --write

feat: NASA-27 add setup instructions to README
  README.md
Due: prettier --write

refactor: NASA-27 add spaces in the bash script
  README.md
Due: prettier --write

feat: NASA-6 add pull request template
  .github/pull_request_template.md
Due: prettier --write

refactor: NASA-6 revise link for ticket
  .github/pull_request_template.md
Due: prettier --write

feat: NASA-4 add files for project
  src/api/.gitkeep
  src/app/routes/.gitkeep
  src/assets/fonts/.gitkeep
  src/assets/images/.gitkeep
  src/assets/styles/.gitkeep
  src/components/.gitkeep
  src/constants/.gitkeep
  src/domain/customer/.gitkeep
  src/domain/order/order-status/.gitkeep
  src/domain/products/product-categories/.gitkeep
  src/domain/products/product/.gitkeep
  src/pages/.gitkeep
  src/state/.gitkeep
  src/style/index.scss
  src/tests/.gitkeep
  src/utils/.gitkeep
Due: stylelint --fix

feat: NASA-13-4 Adding libraries react-hook-form, Zustand, normalaze-scss
  .github/pull_request_template.md
  README.md
  package-lock.json
  package.json
  src/app/App.scss
  src/app/App.tsx
  src/app/_app.module.scss
  src/assets/fonts/.gitkeep
  src/assets/fonts/cyberpunk.ttf
  src/assets/fonts/cyberpunk.woff
  src/assets/fonts/cyberpunk.woff2
  src/assets/images/.gitkeep
  src/assets/images/project-logo/vite.svg
  src/assets/styles/.gitkeep
  src/assets/styles/fonts.scss
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/main.tsx
  src/module.d.ts
  src/state/.gitkeep
  src/state/state.ts
  src/tests/.gitkeep
  src/tests/App.test.tsx
Due: prettier --write, stylelint --fix

feat: NASA-13-4 Adding libraries react-hook-form, Zustand, normalaze-scss and add new patern
  .husky/pre-push
  src/app/App.tsx
  src/assets/styles/index.scss
  src/main.tsx
Due: stylelint --fix

feat: NASA-13-4 Adding libraries react-hook-form, Zustand, normalaze-scss and add new patern2
  .eslintrc.cjs
  .husky/pre-push
Due: none

feat: NASA-02 add folder from pages and add redirects file
  public/_redirects
  public/styles/fonts/cyberpunk.ttf
  public/styles/fonts/cyberpunk.woff
  public/styles/fonts/cyberpunk.woff2
  src/assets/styles/fonts.scss
  src/components/.gitkeep
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
  src/components/header/Header.tsx
  src/components/header/_header.scss
  src/pages/.gitkeep
  src/pages/aboutUsPage/AboutUsPage.tsx
  src/pages/aboutUsPage/_about_us.module.scss
  src/pages/loginPage/LoginPage.tsx
  src/pages/loginPage/_login.module.scss
  src/pages/mainPage/MainPage.tsx
  src/pages/mainPage/_main.module.scss
  src/pages/profilePage/ProfilePage.tsx
  src/pages/profilePage/_profile.module.scss
  src/pages/registrationPage.tsx/RegistrationPage.tsx
  src/pages/registrationPage.tsx/_registration.module.scss
Due: stylelint --fix

feat: NASA-02 add folder from pages and add redirects file
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/pages/aboutUsPage/AboutUsPage.tsx
  src/pages/loginPage/LoginPage.tsx
  src/pages/mainPage/MainPage.tsx
  src/pages/profilePage/ProfilePage.tsx
Due: none

feat: NASA-57 add font
  public/assets/rs-logo.svg
  public/styles/fonts/display-regular.ttf
  src/assets/styles/fonts.scss
  src/assets/styles/index.scss
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
Due: stylelint --fix

feat: NASA-57 add footer component
  src/app/App.tsx
  src/assets/images/rs-logo.svg
  src/components/footer/Footer.tsx
Due: none

feat: NASA-57 add header component
  src/app/App.tsx
  src/assets/images/ns-store-logo.svg
  src/assets/styles/index.scss
  src/assets/styles/mixins.scss
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/header/_header.scss
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-57 add navigation markup
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-57 add navigation styles
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
  src/components/footer/Footer.tsx
  src/components/footer/_footer.module.scss
  src/components/header/_header.module.scss
  src/components/navigation/Navigation.tsx
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

feat: NASA-57 add placeholder icon to header
  src/assets/styles/variables.scss
  src/components/header/Header.tsx
  src/components/header/_header.module.scss
  src/components/navigation/_navigation.module.scss
Due: stylelint --fix

fix: revise pull request template to previous settings
  .github/pull_request_template.md
Due: prettier --write
